/*********************************************************************************
 * Copyright (C) 2011-2013 X2Engine Inc. All Rights Reserved.
 * 
 * X2Engine Inc.
 * P.O. Box 66752
 * Scotts Valley, California 95067 USA
 * 
 * Company website: http://www.x2engine.com 
 * Community and support website: http://www.x2community.com 
 * 
 * X2Engine Inc. grants you a perpetual, non-exclusive, non-transferable license 
 * to install and use this Software for your internal business purposes.  
 * You shall not modify, distribute, license or sublicense the Software.
 * Title, ownership, and all intellectual property rights in the Software belong 
 * exclusively to X2Engine.
 * 
 * THIS SOFTWARE IS PROVIDED "AS IS" AND WITHOUT WARRANTIES OF ANY KIND, EITHER 
 * EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION THE IMPLIED WARRANTIES OF 
 * MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, AND NON-INFRINGEMENT.
 ********************************************************************************/

.grid-view-loading {background:url(loading.gif) no-repeat;}

/**
 * --------------- Column Selector Dropdown ---------------
 */
ul.column-selector.stuck {
	position:absolute !important;
    top: 75px !important;
}
ul.column-selector {
	display:none;
	position:fixed;
    top: 68px;
	z-index:850;
	background:#fff;
	padding:0;
	border:1px solid #999;
	border-top:none;
	max-height:300px;
	overflow-y:scroll;
	list-style-type:none;
	clip:rect(0px,1000px,1000px,-10px);
	-moz-box-shadow:		0 0 15px 0 rgba(0,0,0,0.5);
	-webkit-box-shadow:		0 0 15px 0 rgba(0,0,0,0.5);
	box-shadow:				0 0 15px 0 rgba(0,0,0,0.5);
}
ul.column-selector li {padding:2px 5px;}
ul.column-selector li:last-child {padding-bottom:5px;}
ul.column-selector li:hover {background:#eee;}

/**
 * ---------------- X2GridView Widget CSS -----------------
 */
.grid-view .title-bar {display:block;overflow:hidden;}
/* .grid-view h3, .grid-view h2 {float:left;margin:0 20px 0 0;} */
.grid-view .summary {float:right;color:#555;}
.grid-view .empty {font-style:italic;}

.grid-view table {border:1px solid #aaa;margin:5px 0;}
.grid-view.fullscreen table {border:none;margin:0;}
/* border-collapse:separate; */



/**
 * ------------------ X2GridView Tables -------------------
 */
.grid-view table.items {
	table-layout:fixed;
	background:#fff;
	width:100%;
	clear:both;
}
.grid-view table.items td, .grid-view table.items th {
	padding:3px 5px;
	border-right:1px solid #ccc;
	/* border-top:1px solid #dbdad3 *//* rgb(196,214,235) */;
	overflow:hidden;
	white-space:nowrap;
	word-wrap:normal;
}
.grid-view table.items th:first-child {border-left:none;padding-left:1px;text-indent:-1px;}
.grid-view table.items td:last-child, .grid-view table.items th:last-child {border-right:none !important;}

/* .grid-view table.items thead td {border-top-color:#666;} */
.grid-view table.items thead th {
	line-height:25px;
	padding:0;
	border-left:1px solid #e6e6e6;
	border-right-color:#999;
	border-bottom:1px solid #777;
	color:#333;
	text-align:center;
	font-size:11px;
	font-weight:bold;
	-webkit-appearance:none;
	cursor:default;
	-moz-box-shadow:		inset 0 1px 0 #fff;
	-webkit-box-shadow:		inset 0 1px 0 #fff;
	box-shadow:				inset 0 1px 0 #fff;
	background:#ddd;
	background:-moz-linear-gradient(top,	#e0e0e0 0%, #ccc 100%);
	background:-webkit-linear-gradient(top,	#e0e0e0 0%, #ccc 100%);
	background:-o-linear-gradient(top,		#e0e0e0 0%, #ccc 100%);
	background:-ms-linear-gradient(top,		#e0e0e0 0%, #ccc 100%);
	background:linear-gradient(to bottom,	#e0e0e0 0%, #ccc 100%);
	
}
/* .grid-view table.items thead tr:hover {
	background:none;
} */
.grid-view table.items th a {
	display:block;
	color:#333;
	font-size:11px;
	text-decoration:none;
}

.grid-view table.items th:hover {/* background-color:#f8f8f8; */}

.grid-view table.items td a {text-decoration:none;}
.grid-view table.items td a:hover {text-decoration:underline;}

/*
 * ------------------- Rounded Borders --------------------
 */
.gridview.boxed table.items {
	margin-top:5px;
	border:1px solid #ccc;
	border-radius:			4px;
	-moz-border-radius:		4px;
	-webkit-border-radius:	4px;
	-o-border-radius:		4px;
}
/* rounded corner on top left TH cells in THEAD */
.grid-view.boxed table.items th:first-child {
	border-radius:			4px 0 0 0;
	-moz-border-radius:		4px 0 0 0;
	-webkit-border-radius:	4px 0 0 0;
	-o-border-radius:		4px 0 0 0;
}
/* rounded corner on top right TH cells in THEAD */
.grid-view.boxed table.items th:last-child {
	border-radius:			0 4px 0 0;
	-moz-border-radius:		0 4px 0 0;
	-webkit-border-radius:	0 4px 0 0;
	-o-border-radius:		0 4px 0 0;
}
/* left border on all left TD cells */
.grid-view.boxed table.items tr th:first-child, .grid-view.boxed table.items tr td:first-child {/* border-left:none; */}
/* top border on all left TD cells */
.grid-view.boxed table.items tr:first-child th {border-top:none;}
/* bottom border on all bottom TD cells in TBODY */
.grid-view.boxed table.items tbody tr:last-child td {/* border-bottom-width:1px; */}
/* rounded corner on bottom left TD cells in TBODY */
.grid-view.boxed table.items tbody tr:last-child td:first-child {
	border-radius:			0 0 0 4px;
	-moz-border-radius:		0 0 0 4px;
	-webkit-border-radius:	0 0 0 4px;
	-o-border-radius:		0 0 0 4px;
}
/* rounded corner on bottom right TD cells in TBODY */
.grid-view.boxed table.items tbody tr:last-child td:last-child {
	border-radius:			0 0 4px 0;
	-moz-border-radius:		0 0 4px 0;
	-webkit-border-radius:	0 0 4px 0;
	-o-border-radius:		0 0 4px 0;
}
/*
 * ---------------- Special Row Formatting ----------------
 */
.grid-view table.items tr.odd {background:#F5F4DE;/* #dce7f0; *//* #dce7f0; *//* background:#f7f6f0; */}
.grid-view table.items tr.odd td {}
.grid-view table.items tr.unviewed td {background:#eef0ff;font-weight:bold;}
.grid-view table.items tr.selected {}
/*
 * ----------------------- Filters ------------------------
 */
.grid-view table.items tr.filters {background:#fff;}
.grid-view table.items tr.filters td {
	padding:0;
	border:solid #777;
	border-width:0 1px 1px 0;
	border-bottom-color:#666;
	border-right-color:#999;
	background:#ccc;
}
.grid-view table.items tr.filters input, .grid-view table.items tr.filters select {
	width:100%;
	box-sizing:border-box;
	margin:0;
	padding:2px 4px;
	border:none;
/* 	border-radius:			3px;
	-moz-border-radius:		3px;
	-webkit-border-radius:	3px;
	-o-border-radius:		3px; */
}

/**
 * -------------------- Column Sorting --------------------
 */
.grid-view table.items th.asc, .grid-view table.items th.desc {
	/* background:url(sort_bg.gif) top left repeat-x; */
	border-color:#3577d1;
	-moz-box-shadow:		inset 0 1px 0 #94c3ff;
	-webkit-box-shadow:		inset 0 1px 0 #94c3ff;
	box-shadow:				inset 0 1px 0 #94c3ff;
	border-left-color:#79b4ff;
	background:#629ceb;
	background:-moz-linear-gradient(top,	#629ceb 0%, #5594e9 100%);
	background:-webkit-linear-gradient(top,	#629ceb 0%, #5594e9 100%);
	background:-o-linear-gradient(top,		#629ceb 0%, #5594e9 100%);
	background:-ms-linear-gradient(top,		#629ceb 0%, #5594e9 100%);
	background:linear-gradient(to bottom,	#629ceb 0%, #5594e9 100%);
	/* border-width:0 1px; */
} /* rgb(105, 147, 204)*/
.grid-view table.items th.asc a, .grid-view table.items th.desc a {
	color:#fff;
	text-shadow:0 0 2px rgba(0,0,0,0.25);
}
.grid-view table.items th.asc a {background:url(arrow_up3.png) right center no-repeat;}
.grid-view table.items th.desc a {background:url(arrow_down3.png) right center no-repeat;}

/**
 * ------------- 2-part tables (fixed header) -------------
 */
.grid-view div.x2grid-header-container {
	overflow:hidden;
	position:relative;
	/* border-bottom:1px solid #666; */
}
/* .grid-view div.x2grid-header-container table.items tr.filters td {border-bottom:none;} */
.grid-view div.x2grid-body-container {
	overflow-x:auto;
	overflow-y:hidden;
	/* border-top:1px solid #666; */
/* 	overflow-y:scroll;
	max-height:710px; */
}

/**
 * ------------------- x2.gridResizing --------------------
 */
.grid-view table.items.x2grid-resizable {
	border-collapse:separate;
	margin-top:0;
    border: none;
}

.grid-view .x2grid-body-container table.items.x2grid-resizable {
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid #aaa;
}

.grid-view table.items.x2grid-resizable tr:first-child td{border-top:none;}
/* .grid-view table.items.x2grid-resizable td.hover {
	overflow:visible;
	display:block;
	position:absolute;
	padding:6px 8px 6px 5px !important;
	z-index:3;
	border-right:1px solid #d3d3cc/* rgb(196,214,235) * /;
} */
/* .grid-view table.items.x2grid-resizable td div {white-space:nowrap;overflow:hidden;} */
.x2grid-grips {height:0px;position:relative;}
.x2grid-grips div {
	position:absolute;
	top:1px;
	width:9px;
	margin-left:-4px;
	z-index:2;
	cursor:col-resize;
	/* background:rgba(255,0,0,0.2); */
}


/**
 * ------------------ x2.gridColDragging ------------------
 */
.grid-view table.items.x2grid-helper thead th {
	height:25px;
	border:1px solid #ccc;
	border-width:0 1px;
	opacity:0.75;
	cursor:move;
}
.grid-view table.items.x2grid-helper a {cursor:move;}
.grid-view table.items.x2grid-helper td {padding:5px 5px;}
.grid-view table.items td.spacer, .grid-view table.items th.spacer {
	/* padding:0 !important; */
	border-left:none !important;
	border-right:none !important;
	-moz-box-shadow:		inset -1px 0 0 #999;	/* since IE has too many chromosomes, let's simulate a border! */
	-webkit-box-shadow:		inset -1px 0 0 #999;
	box-shadow:				inset -1px 0 0 #999;
}
.grid-view table.items th.spacer:first-child {padding-left:0;}
/**
 * -------------- special column formatting ---------------
 */
.grid-view .link-column img, .grid-view .button-column img {border:0;}
.grid-view .button-column, .grid-view .checkbox-column {text-align:center;}
/**
 * ------------------- Pager formatting -------------------
 */
.grid-view .pager {
    border-top:1px solid #aaa;
	padding:8px;
	background:#fff;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1px;
    margin-bottom: 0;
	text-align:right;
/* 	border-radius:			4px 4px 4px 4px;
	-moz-border-radius:		4px 4px 4px 4px;
	-webkit-border-radius:	4px 4px 4px 4px;
	-o-border-radius:		4px 4px 4px 4px; */
    border-top: none;
    float: right;
}
/**
 * ------------------------- Misc -------------------------
 */
div.scrollbar-width-test {height:100px;width:100px;position:absolute;top:-100px;left:0;overflow-x:hidden;overflow-y:scroll;/* visibility:hidden; */}

.grid-view > .pager .yiiPager a {
    padding: 2px 8px 2px 8px;
}
.yiiPager li a {
    background:#fff;
}


/*
fixed header
*/

.x2-gridview-fixed-top-bar-outer {
    width: 100%;
    height: 0px;
    position: fixed;
    z-index: 800;
    min-width: 880px;
    left: 0;
    top: 32px;
    padding-left: 151px;
    padding-right: 9px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.x2-gridview-fixed-top-bar-outer .x2-gridview-fixed-top-bar-inner {
    width: 100%;
    padding-right: 22% !important;
    padding-left: 11px;
    height: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.x2-gridview-fixed-top-bar-outer .x2-gridview-fixed-title {
    width: auto;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
}

.x2-gridview-body-with-fixed-header {
    padding-top: 75px;
}

.x2-gridview-fixed-top-bar-outer .x2grid-header-container {
    border-left: 1px solid #999;
    border-right: 1px solid #999;
}


/*
loading anim
*/

#x2-gridview-updating-anim {
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 1000;
}
