/*********************************************************************************
 * Copyright (C) 2011-2013 X2Engine Inc. All Rights Reserved.
 *
 * X2Engine Inc.
 * P.O. Box 66752
 * Scotts Valley, California 95067 USA
 *
 * Company website: http://www.x2engine.com
 * Community and support website: http://www.x2community.com
 *
 * X2Engine Inc. grants you a perpetual, non-exclusive, non-transferable license
 * to install and use this Software for your internal business purposes.
 * You shall not modify, distribute, license or sublicense the Software.
 * Title, ownership, and all intellectual property rights in the Software belong
 * exclusively to X2Engine.
 *
 * THIS SOFTWARE IS PROVIDED "AS IS" AND WITHOUT WARRANTIES OF ANY KIND, EITHER
 * EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION THE IMPLIED WARRANTIES OF
 * MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, AND NON-INFRINGEMENT.
 ********************************************************************************/

/*
login page
*/
.remember-me-checkbox-container .ui-btn-text {
	font-size: 10px;
	vertical-align: middle;
}

.remember-me-checkbox-container .ui-fullsize span.ui-btn-inner {
	padding: 2px 40px !important; 
}



/* 
general css rules
*/

.x2-mobile-narrow-input {
	color: #ADADAD;
	width: 280px;
}

.x2-mobile-narrow-input-row .ui-input-text {
	margin-bottom: 4px;
	margin-top: 0px;
	width: 280px;
	display: inline-block;
}

div.ui-input-text.error {
    border-color: #C00;
    background: #FEE;
}

div.input-error-container {
    float: left;
    margin-right: 4px;
}

div.err-msg-placeholder {
    height: 20px;
}


/*
activity
*/

#feed-box div.message {

    margin-bottom: 10px;
    white-space: pre-wrap;
}
#feed-box a { /* links disabled until mobile versions of linked pages are added */
    color: rgb(75,75,75);
    text-decoration: none;
}
#feed-box span.my-username {
    color: #999;
}
#feed-post-publisher {
    margin-bottom: 10px;
}
