/*********************************************************************************
 * Copyright (C) 2011-2013 X2Engine Inc. All Rights Reserved.
 * 
 * X2Engine Inc.
 * P.O. Box 66752
 * Scotts Valley, California 95067 USA
 * 
 * Company website: http://www.x2engine.com 
 * Community and support website: http://www.x2community.com 
 * 
 * X2Engine Inc. grants you a perpetual, non-exclusive, non-transferable license 
 * to install and use this Software for your internal business purposes.  
 * You shall not modify, distribute, license or sublicense the Software.
 * Title, ownership, and all intellectual property rights in the Software belong 
 * exclusively to X2Engine.
 * 
 * THIS SOFTWARE IS PROVIDED "AS IS" AND WITHOUT WARRANTIES OF ANY KIND, EITHER 
 * EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION THE IMPLIED WARRANTIES OF 
 * MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, AND NON-INFRINGEMENT.
 ********************************************************************************/


/* override spectrum color picker css */
div#web-form .sp-replacer {
    padding: 0px !important;
}
div#web-form .sp-dd {
    height: 13px !important;
}
div#web-form .sp-preview {
    width:20px !important;
    height: 17px !important;
    margin-right: 5px !important;
}

#sortable1, #sortable2 {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    margin-right: 10px;
    min-height: 300px;
}

#sortable1 li, #sortable2 li {
    margin: 0 5px 5px 5px;
    padding: 5px;
    -moz-border-radius:        4px;
    -o-border-radius:          4px;
    -webkit-border-radius:     4px;
    border-radius:             4px;
    background:#fafafa;
    font-size: 12px;
    color: black;
}

#sortable1 li label, #sortable2 li label {
    padding: 1px 5px 1px 20px;
}

.ui-state-highlight {
    height: 1.5em;
    line-height: 1.2em;
}
div.web-form-fields {
    background: #F0F0F0;
    border: 1px solid;
    width: 150px;
    height: 400px;
    float: left;
    margin: 0 5px;
    clear:right;
    width:200px;
    border:1px solid #ccc;
    -moz-border-radius:        4px;
    -o-border-radius:        4px;
    -webkit-border-radius:    4px;
    border-radius:            4px;
    overflow-y: scroll;
}

#embedcode {
	width: 95%;
	min-height: 67px;
	border: 1px solid #B9B9B9;
	background: #F6F6F6;
	color: #666;
	-moz-box-shadow: 0 1px 0 #fff,inset 0 1px 1px rgba(0,0,0,.17);
	-ms-box-shadow: 0 1px 0 #fff,inset 0 1px 1px rgba(0,0,0,.17);
	-webkit-box-shadow: 0 1px 0 white,inset 0 1px 1px rgba(0, 0, 0, .17);
	box-shadow: 0 1px 0 white,inset 0 1px 1px rgba(0, 0, 0, .17);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

#embedcode:focus {
	border-color: #4496E7;
	color: #444;
	background: white;
	outline: 0;
}

#iframe_example {
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	padding: 9px;
	background: #F0F0F0;
}
input#font, select#font {
	width: 193px;
}
input.half {
	width: 69px;
}
.ui-resizable-helper {
	border: 1px solid black;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
/*	margin: px; */
/*	background-color: red; */
}
#custom-css {
	height: 75px;
}


#save {
    margin-top: 1px;
}
#reset-form {
    position: relative;
    top: 2px;
}
#web-form-name,
#saved-forms {
    margin-right: 4px;
}
.save-html-feedback {
    margin-top: 9px !important;
}
#custom-html-input-container > h4 {
    margin-right: 4px;
    display: inline;
}
#custom-html-input-container .fieldhelp {
    margin-top: 2px;
}
#custom-html-hint {
    position: relative;
    top: -2px;
}
.errorMessage {
    clear: both;
}
