/*********************************************************************************
 * Copyright (C) 2011-2013 X2Engine Inc. All Rights Reserved.
 * 
 * X2Engine Inc.
 * P.O. Box 66752
 * Scotts Valley, California 95067 USA
 * 
 * Company website: http://www.x2engine.com 
 * Community and support website: http://www.x2community.com 
 * 
 * X2Engine Inc. grants you a perpetual, non-exclusive, non-transferable license 
 * to install and use this Software for your internal business purposes.  
 * You shall not modify, distribute, license or sublicense the Software.
 * Title, ownership, and all intellectual property rights in the Software belong 
 * exclusively to X2Engine.
 * 
 * THIS SOFTWARE IS PROVIDED "AS IS" AND WITHOUT WARRANTIES OF ANY KIND, EITHER 
 * EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION THE IMPLIED WARRANTIES OF 
 * MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, AND NON-INFRINGEMENT.
 ********************************************************************************/

body {margin:0;padding:0;font:normal 10pt Arial, Helvetica, sans-serif;/* background:url(background2.gif) top left repeat-x #000; */}
#login-page {
	width:250px;
	background:#eee;
	background:rgba(255,255,255,0.25);
	min-height:0;
	margin:160px auto 20px auto;
	padding:40px 40px 10px 40px;
	position:relative;
	/* border:1px solid rgba(0,0,0,0.25); */
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	-o-border-radius:6px;
	-moz-box-shadow:	0 3px 10px rgba(0,0,0,0.5);
	-webkit-box-shadow:	0 3px 10px rgba(0,0,0,0.5);
	box-shadow:			0 3px 10px rgba(0,0,0,0.5);
}
/* CSS "button" links to be used instead of actual buttons */
a.x2-button, input.x2-button, button.x2-button { /* , a.search-button */
	display:inline-block;
	margin:0 5px 5px 0;
	padding:0 8px;
	border:1px solid #999;
	background-color:#eee;
	background:-webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#ddd));
	background:-moz-linear-gradient(top,  #f0f0f0,  #ddd);
	color:#333;
	font-size:11px !important;
	line-height:24px;
	font-weight:bold;
	text-decoration:none;
	-webkit-appearance:none;
	-moz-box-shadow:	inset 0 1px 0 0 #fff;
	-webkit-box-shadow:	inset 0 1px 0 0 #fff;
	box-shadow:			inset 0 1px 0 0 #fff;
	border-radius:			3px;
	-moz-border-radius:		3px;
	-webkit-border-radius:	3px;
	-o-border-radius:		3px;
}
a.x2-button:hover, input.x2-button:hover, button.x2-button:hover {
	color:black;
	background-color:#fff;
	background:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
	background:-moz-linear-gradient(top,  #fff,  #eee);
}
a.x2-button:active, input.x2-button:active, button.x2-button:active, a.x2-button.clicked, input.x2-button.clicked, button.x2-button.clicked {
	color:black;
	border-color:#666;
	background-color:#bbb;
	background:-webkit-gradient(linear, left top, left bottom, from(#bbb), to(#ccc));
	background:-moz-linear-gradient(top,  #bbb,  #ccc);
	-moz-box-shadow: inset 0 1px 1px 0 #999;
	-webkit-box-shadow: inset 0 1px 1px 0 #999;
	box-shadow: inset 0 1px 1px 0 #999;
}
a.x2-button.clicked:hover, input.x2-button.clicked:hover, button.x2-button.clicked:hover {
	background-color:#c0c0c0;
	background:-webkit-gradient(linear, left top, left bottom, from(#c0c0c0), to(#ddd));
	background:-moz-linear-gradient(top,  #c0c0c0,  #ddd);
}
a.x2-button.highlight, input.x2-button.highlight, button.x2-button.highlight { /* , a.search-button */
	background-color:#579100;
	background:-webkit-gradient(linear, left top, left bottom, from(#729C00), to(#579100));
	background:-moz-linear-gradient(top,  #729C00,  #579100);
	border-color:#315200 !important;
	
	-moz-box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.5);
	-webkit-box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.5);
	box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.5);
	text-shadow:rgba(0,0,0,0.5) 0 1px 3px;
	color:#fff;
}
a.x2-button.urgent, input.x2-button.urgent, button.x2-button.urgent { /* , a.search-button */
	background-color:#910000;
	background:-webkit-gradient(linear, left top, left bottom, from(#9C0000), to(#910000));
	background:-moz-linear-gradient(top,  #9C0000,  #910000);
	border-color:#520000 !important;
	
	-moz-box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.5);
	-webkit-box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.5);
	box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.5);
	text-shadow:rgba(0,0,0,0.5) 0 1px 3px;
	color:#fff;
}
a.x2-button.highlight:hover, input.x2-button.highlight:hover, button.x2-button.highlight:hover { /* , a.search-button */
	background-color:#87b800;
	background:-webkit-gradient(linear, left top, left bottom, from(#87b800), to(#6aad00));
	background:-moz-linear-gradient(top,  #87b800,  #6aad00);
	border-color:#416d00;
}

input.x2-button, button.x2-button {
	display:block;
	margin:5px;
	padding:5px 20px;
	line-height:15px;
}
button.x2-button {border:1px solid #999;}
input.x2-button.float, a.x2-button.float {float:right;}

a.x2-button span {display:block;padding:0;}
a.x2-button#transparency-button, a.x2-button#fullscreen-button {
	position:relative;
	padding:0;
}
a.x2-button#transparency-button span, a.x2-button#fullscreen-button span{
	display:block;
	background-image:url(../images/contrast-icon.png);
	background-position:center center;
	background-repeat:no-repeat;
	width:28px;
}
a.x2-button#fullscreen-button span{background-image:url(../images/fullscreen-icon.png);}

a.x2-button span.add-button {padding:0 0 0 16px;background:url(../images/plus.gif) left center no-repeat transparent;}
.x2-button:hover, .search-button:hover {	background:#fff;}
.x2-button:active, .search-button:active {background:black;border-color:#666;color:white;}

.x2-button.black {
	border-color:#000;
	-moz-box-shadow:	inset 0 1px 0 0 #777;
	-webkit-box-shadow:	inset 0 1px 0 0 #777;
	box-shadow:			inset 0 1px 0 0 #777;
	/* background: #555; */
	background: #555555;
	background: -moz-linear-gradient(top, #555555 0%, #333333 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#555555), color-stop(100%,#333333));
	background: -webkit-linear-gradient(top, #555555 0%,#333333 100%);
	background: -o-linear-gradient(top, #555555 0%,#333333 100%);
	background: -ms-linear-gradient(top, #555555 0%,#333333 100%);
	background: linear-gradient(top, #555555 0%,#333333 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555555', endColorstr='#333333',GradientType=0 );
}

.x2-button.black:hover {
	border-color:#000;
 	-moz-box-shadow:	inset 0 1px 0 0 #888;
	-webkit-box-shadow:	inset 0 1px 0 0 #888;
	box-shadow:			inset 0 1px 0 0 #888;
	background: #666666;
	background: -moz-linear-gradient(top, #666666 0%, #404040 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#666666), color-stop(100%,#404040));
	background: -webkit-linear-gradient(top, #666666 0%,#404040 100%);
	background: -o-linear-gradient(top, #666666 0%,#404040 100%);
	background: -ms-linear-gradient(top, #666666 0%,#404040 100%);
	background: linear-gradient(top, #666666 0%,#404040 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#404040',GradientType=0 );
}
.x2-button.black:active {
	border-color:#000;
	-moz-box-shadow: inset 0 1px 1px 0 #000;
	-webkit-box-shadow: inset 0 1px 1px 0 #000;
	box-shadow: inset 0 1px 1px 0 #000;
	background: #222222;
	background: -moz-linear-gradient(top, #222222 0%, #444444 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#222222), color-stop(100%,#444444));
	background: -webkit-linear-gradient(top, #222222 0%,#444444 100%);
	background: -o-linear-gradient(top, #222222 0%,#444444 100%);
	background: -ms-linear-gradient(top, #222222 0%,#444444 100%);
	background: linear-gradient(top, #222222 0%,#444444 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222222', endColorstr='#444444',GradientType=0 );
}



#content {padding:0 45px 20px 45px; }	 /* create padding for pages without column2.php layout  */
.span-15 #content, .span-20 #content {padding:0;}
.span-20#content-box {width:780px;}			/* blueprint doesn't create any margin for the last span */
#sidebar-left-box {position:relative;height:400px;}
#dashSIDE{position:relative;height:400px;margin-left:-80px;}


.portlet {
	background:transparent;
	margin:0 0 10px 0;
	padding:0;
}
.portlet-decoration {
	padding:3px;
	background:#eee;
/* 	background:-webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd));
	background:-moz-linear-gradient(top,  #eee,  #ddd); */
/* 	background:-webkit-gradient(linear, left top, left bottom, from(#ccc), to(#f6f6f6));
	background:-moz-linear-gradient(top,  #ccc,  #f6f6f6); */
	text-align:center;
	border:1px solid #ccc;
	border-radius:2px 2px 0 0;
	-moz-border-radius:2px 2px 0 0;
	-webkit-border-radius:2px 2px 0 0;
	-o-border-radius:2px 2px 0 0;
	
	-moz-box-shadow: inset 0 1px 0 0 #fff;
	-webkit-box-shadow: inset 0 1px 0 0 #fff;
	box-shadow: inset 0 1px 0 0 #fff;
}
.portlet-title {
	display:block;
	font-size:8pt;
	font-weight:bold;
	line-height:18px;
	color:#333;
	cursor:default;
}
.portlet-content {
	padding:5px 10px;
	overflow:auto;
	background:#f6f6f6;
	border-bottom:1px solid #ddd;
	border-radius:0 0 4px 4px;
	-moz-border-radius:0 0 4px 4px;
	-webkit-border-radius:0 0 4px 4px;
	-o-border-radius:0 0 4px 4px;
}

.portlet-content ul {list-style-type:none;margin:0;padding:0;}
.portlet-content li {margin:0 0 5px 0;}

#actions .portlet-content, #recent-items  .portlet-content, #top-contacts  .portlet-content {padding:0 0 5px 0;}
#actions li, #recent-items li, #top-contacts li {margin:0;}
#actions a, #recent-items a, #top-contacts a, #actions span, #recent-items span, #top-contacts span {
	display:block;
	padding:5px 10px;
	font-weight:normal;
	text-decoration:none;
}

#actions a:link, #recent-items a:link, #top-contacts a:link, #actions a:visited, #recent-items a:visited, #top-contacts a:visited {
	background:transparent;
	color:black;
}
#actions a:hover, #recent-items a:hover, #top-contacts a:hover{
	border-top-color:#88cc88;/*#74d6ee;*/
	background:#444;
	color:white;
}
#actions span, #recent-items span, #top-contacts span {
	border-top-color:#88cc88;/*#74d6ee;*/
	background:#444;
	color:white;
	font-weight:bold;
}
#actions a:active, #recent-items  a:active, #top-contacts  a:active {background:black;color:white;}
#recent-items a, #top-contacts a {text-decoration:none;font-size:11px;}
#recent-items a strong, #top-contacts a strong {font-size:12px;}

#top-contacts a {float:left;width:100px;}
#top-contacts a.delete-link {
	display:block;
	width:auto;
	margin:5px 5px 0 0;
	padding:0;
	color:#06c;
	float:right;
	background:none;
}
#top-contacts a.delete-link:hover {color:#09f;}
#recent-items .portlet-content{word-wrap:break-word;}

/* Widgets */
div.blah {height:780px;}
#dashboard-grid{
    width:780px;
    height:700px;
    margin-top:40px;
}
.itemsColumn2{width:29em;float:left;height:700px;}
.itemsColumn3{width:19.5em;float:left;height:700px;}
.itemsColumn4{width:14.5em;float:left;height:700px;}
div.portlet-minimize {
	float:right;
	font-size:14px;
	font-weight:normal;
}
div.portlet-minimize a {text-decoration:none;}

#widget_MessageBox .portlet-content {text-align:center;}

#motd-form {text-align:left;}

#widget_TwitterFeed .portlet-content, #widget_GoogleMaps .portlet-content {padding:0 0 10px 0;}
#widget_TwitterFeed .twtr-hd {padding:5px 5px 0 5px;}
#widget_TwitterFeed .twtr-ft {display:none;}

#widget_QuickContact .portlet-content * {font-size:10px;}
#widget_QuickContact .portlet-content {padding:3px 3px 0 3px;}

#widget_ChatBox .portlet-content {padding:0;}
#chat-box{
	height:200px;
	width:auto;
	margin:5px;
	padding:0 4px;
	overflow-y:auto;
	word-wrap:break-word;
	line-height:1.1em;
	font-size:9pt;
	color:#333;
	background:#fcfcfc;
	border:1px solid #ddd;
}
#widget_ChatBox textarea, #chat.full-screen textarea {
	display:block;
	width:100%;
	margin:0;
	padding:2px;
	height:50px;
	border:1px solid #ddd;
	background:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	resize:none;
	overflow:hidden;
}
#widget_ChatBox div.textarea-container {display:block;margin:0 11px 0 5px;width:auto;}
#widget_ChatBox input {float:right;width:80px;}

#chat-box div.message {margin-bottom:10px;white-space:pre-wrap;}
#chat-box a.username {text-decoration:none;}
#chat-box span.my-username {color:#999;}
#widget_ChatBox .chat-timestamp {display:none;}
#chat.full-screen #chat-box {
	width:650px;
	margin:5px 0;
	padding:5px;
	height:350px;
}
#chat.full-screen textarea {
	margin:0 5px 0 0;
	padding:5px;
	display:inline;
	float:left;
	width:565px;
	height:30px;
}
#chat.full-screen input {
	float:left;
	margin:0;
	width:80px;
	line-height:16px;
	padding:12px;
}
#widget_ChatBox.full-screen .chat-timestamp {display:inline;}
#widget_ChatBox.full-screen input {float:left;width:auto;}
#widget_NoteBox .portlet-content {padding:0;}
/* #widget_NoteBox input {width:170px;} */

#widget_TagCloud .tag{
	-moz-border-radius:4px;
	-o-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border-style:solid;
	border-width:1px;
	border-color:gray;
	margin:2px 2px;
	display:block;
	float:left;
	padding:2px;
	background-color:#f0f0f0;
}
#widget_TagCloud .tag a {
	text-decoration:none;
	color:black;
}

#widget_OnlineUsers .user a{
    text-decoration:none;
    color:black;
}

#widget_OnlineUsers .user{
	-moz-border-radius:4px;
	-o-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border-style:solid;
	border-width:1px;
	border-color:gray;
	margin:2px 2px;
	display:block;
	float:left;
	padding:2px;
	background-color:#f0f0f0;
}
#note-box{
	height:200px;
	width:auto;
	margin:5px;
	padding:0 4px;
	overflow-y:auto;
	word-wrap:break-word;
	line-height:1.1em;
	font-size:9pt;
	color:#555;
	background:#fcfcfc;
	border:1px solid #ddd;
}
#widget_NoteBox textarea {
	display:block;
	margin:0 5px;
	padding:2px;
	width:164px;
	height:50px;
	border:1px solid #ddd;
	background:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	resize:none;
	overflow:hidden;
}

#widget_DocViewer .portlet-content {padding:0;}
#widget_DocViewer input {width:160px;}
#docview-box{
	height:200px;
	width:auto;
	margin:5px;
	padding:0 4px;
	overflow-y:auto;
	word-wrap:break-word;
	line-height:1.1em;
	font-size:9pt;
	color:#555;
	background:#fcfcfc;
	border:1px solid #ddd;
}
#widget_DocViewer textarea {
	display:block;
	margin:0 5px;
	padding:2px;
	width:164px;
	height:50px;
	border:1px solid #ddd;
	background:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	resize:none;
	overflow:hidden;
}

#docview-input {
	padding: 5px;
}

#widget_TopSites .portlet-content{padding:0;}
#widget_TopSites input {width:120px;padding:5px;margin-top:10px;}
#sites-box{
    height:200px;
    width:auto;
    margin:5px;
    padding: 0 4px;
    overflow-y:auto;
    word-wrap:break-word;
    line-height:1.1em;
    font-size:9pt;
    color:#555;
    background:#fcfcfc;
    border: 1px solid #ddd;
}
#site-url-container{height:100px;}
div.shown{
    margin-left:10px;
    border:1px solid black;
    width:130px;
    padding-top:3px;
    padding-left:5px;
    padding-right:5px;
    text-align:center;
    background:#fff;

}
p.descrip{
    font-weight:bold;
}
#actionLS{
    padding:5px 15px 5px 15px;
}

/* #action-form textarea {width:558px;font-family:Arial, Helvetica, sans-serif;font-size:12px;} */


.ui-tabs {
	border:none;
	margin:0 0 5px 0;
	padding:0;
}
.ui-tabs .ui-tabs-nav {
	background:none;
	border:none;
	margin:0 0 0 0;
	padding:0;
}
.ui-tabs .ui-tabs-nav li {
	background:#f8f8f8;
	font-size:10pt;
	margin:0 2px 0 0;
	border:1px solid #ccc;
	font-family:Arial, Helvetica, sans-serif;
	/* font-weight:bold; */

	border-radius:			4px 4px 0 0;
	-moz-border-radius:		4px 4px 0 0;
	-webkit-border-radius:	4px 4px 0 0;
	-o-border-radius:		4px 4px 0 0;
	
	-moz-box-shadow: inset 0 1px 0 0 #fff;
	-webkit-box-shadow: inset 0 1px 0 0 #fff;
	box-shadow: inset 0 1px 0 0 #fff;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected {border-color:#999;border-bottom-color:#fff;background:#eee;}
.ui-tabs .ui-tabs-nav li.ui-state-hover {border-color:#ccc;background:#fff;}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected.ui-state-hover {border-color:#999;background:#eee;}
.ui-tabs .form {
	background:#eee;
	border-color:#999;
	border-radius:			4px;
	-moz-border-radius:		4px;
	-webkit-border-radius:	4px;
	-o-border-radius:		4px;
}
.ui-tabs .ui-tabs-nav li.publisher-label {
	border:none;
	background:none;
	padding:0.5em 0.5em 0.5em 0.25em;
}
.ui-tabs .ui-tabs-panel {
	padding:0;
}

.detail-form {display:none;z-index:10;} 
#edit-buttons {
	display:block;
	height:36px;
	clear:both;
}
#edit-buttons .x2-button {float:left;}
#doc-form {border:none;padding:0;}
#doc-form .x2-button {margin-top:0;}
#doc-box {
	-moz-border-radius:4px;
	-o-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #ccc;
	clear:both;
	height:600px;
	width:auto;
	overflow:scroll-y;
	margin:0 0 10px 0;
	padding:10px 7px;
	width:auto;
}

a.list-action {text-decoration:none;}
a.list-action:hover {text-decoration:underline;}

div.x2-sortlist .row {
	overflow:visible;
}
div.x2-sortlist a{text-decoration:none;}
a.x2-sortlist-add {
	display:block;
	text-decoration:none;
	margin-bottom:5px;
}
div.x2-sortlist ol {
	margin:0;
	padding:0;
	margin-bottom:5px;

}
div.x2-sortlist li {
	padding:0;
	list-style-type:none;
	overflow:auto;
	border:1px solid #333;
	border-width:1px 1px 0 1px;
	background:#fff;
}
div.x2-sortlist li:first-child {
	-moz-border-radius:		4px 4px 0 0;
	-o-border-radius:		4px 4px 0 0;
	-webkit-border-radius:	4px 4px 0 0;
	border-radius:			4px 4px 0 0;
}
div.x2-sortlist li:last-child {
	border-bottom:1px solid #333;
	-moz-border-radius:		0 0 4px 4px;
	-o-border-radius:		0 0 4px 4px;
	-webkit-border-radius:	0 0 4px 4px;
	border-radius:			0 0 4px 4px;
}
div.x2-sortlist li:only-child {
	border-bottom:1px solid #333;
	-moz-border-radius:		4px;
	-o-border-radius:		4px;
	-webkit-border-radius:	4px;
	border-radius:			4px;
}
div.x2-sortlist li:first-child .handle {
	-moz-box-shadow: inset 1px 1px 0 0 rgba(255,255,255,0.3);
	-webkit-box-shadow: inset 1px 1px 0 0 rgba(255,255,255,0.3);
	box-shadow: inset 1px 1px 0 0 rgba(255,255,255,0.3);
}
div.x2-sortlist li .handle {
	float:left;
	width:28px;
	margin-right:-35px;
	height:42px;
	padding:5px 0 0 5px;
	background:#777; /* 00728f */ 
	background:-webkit-gradient(linear, left top, right top, from(#777), to(#666));
	background:-moz-linear-gradient(left,  #777,  #666);
	-moz-box-shadow:	inset 1px 0 0 0 rgba(255,255,255,0.3);
	-webkit-box-shadow:	inset 1px 0 0 0 rgba(255,255,255,0.3);
	box-shadow:			inset 1px 0 0 0 rgba(255,255,255,0.3);
	color:#fff;
	text-shadow:rgba(0,0,0,0.5) 0 1px 4px;
	font-size:16px;
	font-weight:bold;
	border:1px solid #333;
	border-width:0 1px 0 0;
	cursor:n-resize;
}
div.x2-sortlist#workflow-stages li .handle {height:85px;}
div.x2-sortlist li .handle:hover {
	background:#888; /* 00728f */ 
	background:-webkit-gradient(linear, left top, right top, from(#808080), to(#707070));
	background:-moz-linear-gradient(left,#808080,#707070);
}
div.x2-sortlist li .handle:active {
	background:#888; /* 00728f */ 
	background:-webkit-gradient(linear, left top, right top, from(#555), to(#606060));
	background:-moz-linear-gradient(left,#555,#606060);
	text-shadow:rgba(0,0,0,0.5) 0 -1px 4px;
	-moz-box-shadow: inset 1px 0 0 0 rgba(0,0,0,0.3);
	-webkit-box-shadow: inset 1px 0 0 0 rgba(0,0,0,0.3);
	box-shadow: inset 1px 0 0 0 rgba(0,0,0,0.3);
}
div.x2-sortlist li .content {
	display:block;
	width:auto;
	margin-left:35px;
	padding-left:5px;
}
div.x2-sortlist li.ui-sortable-helper {border-bottom:1px solid #333;}
div.x2-sortlist a.del {
	display:block;
	float:right;
	height:20px;
	width:20px;
	margin-right:2px;
	cursor:pointer;
	background:url(../images/list_delete.png) top left no-repeat;
}
div.workflow-funnel-box {
	display:block;
	float:left;
	overflow:auto;
	text-align:center;
}
div#workflow-diagram .row:first-child .workflow-funnel-stage {
	border-top-width:1px;
}
div.workflow-funnel-stage {
	display:block;
	margin-right:auto;
	margin-left:auto;
	text-align:center;
	border:1px solid #999;
	border-top-width:0;
	line-height:24px;
}
div.workflow-status {display:block;float:left;line-height:20px;height:24px;width:340px;}
.workflow-funnel-stage span.name {
/* 	display:inline-block;
	width:80px;
	text-align:right; */
}
.workflow-funnel-stage span.name a {text-decoration:none;}
.workflow-funnel-stage span.contact-icon {
	display:inline-block;
	background:url(../images/contact-icon.png) 5px center no-repeat;
	padding-left:24px;
}
.workflow-funnel-stage span.sales-icon {
	display:inline-block;
	background:url(../images/sales-icon.png) 5px center no-repeat;
	padding-left:24px;
}

#workflowStageDetails label {display:inline;}
#workflowStageDetails input, #workflowStageDetails textarea, #workflowStageDetails select {display:none;}
#workflowStageDetails span {display:inline;}
#workflowStageDetails.editMode input, #workflowStageDetails.editMode textarea, #workflowStageDetails.editMode select {display:block;}
#workflowStageDetails.editMode span {display:none;}
/* #workflowStageDetails.editMode td.text-field {padding:0;} */
#workflowStageDetails {text-align:center;}
#workflowStageDetails img.loading {margin:40px 0;}


.rating-cancel {	display:none !important;}	/* get rid of horrid "cancel rating" on star ratings widget */
	
.list-view h2, .list-view h3, .list-view h4 {display:inline;margin-bottom:0;}
.list-view .items {clear:both;}
.list-view .comment-age {color:#666;}
.list-view .summary {
	color:#555;
	display:inline;
	float:right;
}

.list-view .view {
	clear:both;
	margin:0 0 5px 0;
	padding:0;
	width:auto;
/* 	-moz-border-radius:4px;
	-o-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px; */
	/* border-top:1px solid #ddd; */
}
.list-view a {text-decoration:none;}
.list-view .view.top-level {		/*top level comment*/
/* 	-moz-border-radius:4px;
	-o-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px; */
	border-top:1px solid #ddd;
	padding:2px 5px 5px 5px;
	margin-bottom:10px;
}
.list-view .view.top-level .list-view {
	margin:0 -5px;
	-moz-border-radius:0;
	-o-border-radius:0;
	-webkit-border-radius:0;
	border-radius:0;
	border:none;
	padding:0;
}
.list-view .view.top-level form {margin-top:5px;}
.list-view .view.top-level .view {	/*second level comment*/
	background:#eee;
	margin:0;
	padding:2px 5px 2px 20px;
	border:solid #ddd;
	border-width:1px 0 0 0;
	-moz-border-radius:0;
	-o-border-radius:0;
	-webkit-border-radius:0;
	border-radius:0;
}
.list-view .deleteButton {float:right;}

.action-description, a.action-description {text-decoration:none;color:black;}
.action.list-view .view {
	padding-left:40px;
	border:1px solid #ddd;
	border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	-webkit-border-radius:4px;
}
.dashSubmit{float:right;}
.action.list-view .header a {font-weight:normal;}
.action.list-view .header {
	display:block;
	overflow:auto;
	padding:2px 5px 2px 0;
	color:#666;
	font-weight:bold;
	border-radius:0 4px 0 0;
	-moz-border-radius:0 4px 0 0;
	-o-border-radius:0 4px 0 0;
	-webkit-border-radius:0 4px 0 0;
	/* border-bottom:1px solid #ddd; */
	/* border-width:0 0 1px 1px; */
	/* background-color:#f8f8f8; */
}
.action.list-view .header b {
	/* color:#333; */
}
.action.list-view .header b a {font-weight:normal;}
.action.list-view .buttons {float:right;}
.action.list-view .description {color:#000;padding:5px;}
/* 	border:1px solid #ddd;
	border-width:0 1px 0 1px; */

.action.list-view .footer {color:#666;padding:2px 5px;font-size:11px;}
.action.list-view .icon {
	display:block;
	float:left;
	height:55px;
	margin-left:-40px;
	width:45px;
/* 	border:1px solid #ddd;
	border-width:1px 0 0 1px; */
	border-radius:4px 0 0 0;
	-moz-border-radius:4px 0 0 0;
	-o-border-radius:4px 0 0 0;
	-webkit-border-radius:4px 0 0 0;
	background:url(../images/action_arrow.png) 0 0px no-repeat transparent;
}
.action.list-view .icon.attachment {	background-image:url(../images/action_attachment.png); }
.action.list-view .icon.complete {	background-image:url(../images/action_complete.png); }
.action.list-view .icon.workflow {	background-image:url(../images/action_workflow.png); }
.action.list-view .icon.email {		background-image:url(../images/action_email.png); }
.action.list-view .icon.note {		background-image:url(../images/action_comment.png); }

span.list-actions {
	display:block;
	margin-top:5px;
}

img.attachment-img {
	margin:5px;
	display:block;
	max-width:250px;
}
#footer a {color:#175CA3;}
#footer a:hover {color:#8dbff2;}
#footer-logos {
	display:block;
	width:300px;
	margin:0 auto 0 auto;
}
#login-page #footer {
	
	color:#333;
}
#footer .hr {
	border-top:1px solid rgba(0,0,0,0.1);
	border-bottom:1px solid rgba(255,255,255,0.25);
	clear:both;
	float:none;
	width:100%;
	height:0px;
	margin:0 0 1em;
}
#logo {
	margin-left:1px;
	padding:10px 20px;
	font-size:200%;
}

div.date-box {
	display:inline-block;
	height:22px;
	width:22px;
	margin:0 5px;
	border:1px solid #000;
	background:#fff;
	border-radius:			2px;
	-moz-border-radius:		2px;
	-webkit-border-radius:	2px;
	-o-border-radius:		2px;
	text-align:center;
	vertical-align:middle;
}
div.date-box span {display:block;font-weight:bold;}
div.date-box span.month {background:#444;color:#fff;font-size:8px;line-height:10px;text-transform:uppercase;}

div.date-box span.day {display:block;font-size:12px;line-height:12px;}


div.flash-error, div.flash-notice, div.flash-success {
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}
div.flash-error {background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4;}
div.flash-notice {background:#fff6bf;color:#514721;border-color:#ffd324;}
div.flash-success {background:#e6efc2;color:#264409;border-color:#c6d880;}
div.flash-error a {color:#8a1f11;}
div.flash-notice a {color:#514721;}
div.flash-success a {color:#264409;}

div.search-form {
	margin-left: 0px;
	margin-bottom: 10px;
	margin-right: 0px;
	margin-top: 10px;
	padding: 10px;
	background: #eee;
}

div.search-form div.wide.form textarea {width:420px;}

div.contact-lists th {padding-left:8px !important;text-align:left !important;}
div.contact-lists th.contact-count {width:100px;}

div.contact-lists td.contact-count {
	background:url(../images/contact-icon.png) 5px center no-repeat;
	padding-left:24px;
}
div.contact-lists table.items tbody tr:last-child td {font-weight:bold;}


/* #modcoder_colorpicker {z-index:3;} */
#profile {float:left;width:300px;}

#about-intro {margin-top:10px;width:450px;font-size:12px;}
#about-intro ul {list-style-type:none;padding-left:8px;margin:8px 0;color:#666;}
#about-credits {font-size:11px;}
#about-credits .no-underline {text-decoration:none;}
#about-legal {clear:both;font-size:10px;color:#999;}

div#code-snippet {
	font-family: "Courier New", Courier, monospace;
	background: #f8f8f8;
	border:1px solid #ddd;
	padding:5px;
	border-radius:			4px;
	-moz-border-radius:		4px;
	-webkit-border-radius:	4px;
	-o-border-radius:		4px;
}

.yiiLog {
	display:block;
	z-index:10;
	position:fixed;
	top:0;
	left:0;
	width:auto !important;
	overflow-y:scroll;
}
.yiiLog tbody {
	width:100%;
}
.yiiLog pre {
	margin:0;
}
/* .yiiLog td:nth-child(1), .yiiLog td:nth-child(2), .yiiLog th:nth-child(1), .yiiLog th:nth-child(2) {
	display:none;
} */

/* give mini-modules with focus a green border */
.focus-mini-module {
	box-shadow: 0 0 4px 2px #579100;
	border-color: #579100;
}
