/*********************************************************************************
 * Copyright (C) 2011-2013 X2Engine Inc. All Rights Reserved.
 * 
 * X2Engine Inc.
 * P.O. Box 66752
 * Scotts Valley, California 95067 USA
 * 
 * Company website: http://www.x2engine.com 
 * Community and support website: http://www.x2community.com 
 * 
 * X2Engine Inc. grants you a perpetual, non-exclusive, non-transferable license 
 * to install and use this Software for your internal business purposes.  
 * You shall not modify, distribute, license or sublicense the Software.
 * Title, ownership, and all intellectual property rights in the Software belong 
 * exclusively to X2Engine.
 * 
 * THIS SOFTWARE IS PROVIDED "AS IS" AND WITHOUT WARRANTIES OF ANY KIND, EITHER 
 * EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION THE IMPLIED WARRANTIES OF 
 * MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, AND NON-INFRINGEMENT.
 ********************************************************************************/

div.record div, div.record .cell#social-media-toggle a {border:1px solid #ddd;border-width:0;}
div.record {
	border-radius:			4px;
	-moz-border-radius:		4px;
	-webkit-border-radius:	4px;
	-o-border-radius:		4px;
	border-width:1px;
	clear:both;
	margin:0 0 5px 0;
	padding:5px 0;
	width:auto;
	overflow:auto;
}
div.record.no-border {
	border:none;
	padding:0;
	margin:0;
}
div.record a {text-decoration:none;}
div.record .row {
	width:auto;
	clear:both;
	overflow:auto;
}
div.record .cell {
	display:block;
	float:left;
	margin:0 10px 5px 10px;
}
div.record hr {margin:5px 0;width:100%;}

div.record .cell#social-media-toggle {float:right;}
div.record .cell#social-media-toggle a {
	display:block;
	margin:0 10px 0 0;
	min-width:108px;
	padding:0 5px;
	float:right;
	line-height:24px;
	background:white;
	border-width:1px;
	border-bottom:none;
	
	border-radius:			4px 4px 0 0;
	-moz-border-radius:		4px 4px 0 0;
	-webkit-border-radius:	4px 4px 0 0;
	-o-border-radius:		4px 4px 0 0;
}
div.record .row.social-media  {
	background:#fff;
	border-top-width:1px;
	padding:0 10px 5px 10px;
	overflow:hidden;
}
div.record .row.social-media div{margin-top:5px;}
div.social-media img {
	vertical-align:text-bottom;
	height:16px;
	width:16px;
}



div.details div.header {
	border-radius:			4px 4px 0 0;
	-moz-border-radius:		4px 4px 0 0;
	-webkit-border-radius:	4px 4px 0 0;
	-o-border-radius:		4px 4px 0 0;
}
span.required {color: red;}

table.details td#address input {margin:0 0 5px 0;}
table.details td#social-media img {
	vertical-align:middle;
	margin-bottom:3px;
	margin-right:3px;
}
table.details input, table.details textarea {
	margin: 3px 0 10px 0;
	-webkit-appearance:none;
	border:1px solid #aaa;
	font-family:Arial, Helvetica, sans-serif;
}
table.details {
	margin:5px 0;
	clear:both;
	border:1px solid #aaa;
	width:100%;
	table-layout:auto;
	border-radius:			4px;
	-moz-border-radius:		4px;
	-webkit-border-radius:	4px;
	-o-border-radius:		4px;
}
/* no top or left borders on the TD cells */
table.details tr:first-child td {border-top:none;}
table.details tr td:first-child {border-left:none;}
/* make all the TD cell corner round too because browsers are stupid */
table.details tr:first-child td:first-child {
	border-radius:			4px 0 0 0;
	-moz-border-radius:		4px 0 0 0;
	-webkit-border-radius:	4px 0 0 0;
	-o-border-radius:		4px 0 0 0;
}
table.details tr:first-child td:last-child {
	border-radius:			0 4px 0 0;
	-moz-border-radius:		0 4px 0 0;
	-webkit-border-radius:	0 4px 0 0;
	-o-border-radius:		0 4px 0 0;
}
table.details tr:first-child td:only-child {
	border-radius:			4px 4px 0 0;
	-moz-border-radius:		4px 4px 0 0;
	-webkit-border-radius:	4px 4px 0 0;
	-o-border-radius:		4px 4px 0 0;
}
table.details tr:last-child td:first-child {
	border-radius:			0 0 0 4px;
	-moz-border-radius:		0 0 0 4px;
	-webkit-border-radius:	0 0 0 4px;
	-o-border-radius:		0 0 0 4px;
}
table.details tr:last-child td:last-child {
	border-radius:			0 0 4px 0;
	-moz-border-radius:		0 0 4px 0;
	-webkit-border-radius:	0 0 4px 0;
	-o-border-radius:		0 0 4px 0;
}
table.details tr:last-child td:only-child {
	border-radius:			0 0 4px 4px;
	-moz-border-radius:		0 0 4px 4px;
	-webkit-border-radius:	0 0 4px 4px;
	-o-border-radius:		0 0 4px 4px;
}

table.details th, table.details td {
	padding:5px;
	background:#f8f8f8;
	border-top:1px solid #d0d0d0;
	border-left:1px solid #d0d0d0;
	vertical-align:top;
	font-family:sans-serif;
	font-size:12px;
	font-style:normal;
	font-weight:normal;
}
table.details td.label {background:#eee;text-align:right;}
table.details a {text-decoration:none;}

/* rounded corners on description cell */
table.details tr:first-child td.description {
	border-radius:			4px 4px 0 0;
	-moz-border-radius:		4px 4px 0 0;
	-webkit-border-radius:	4px 4px 0 0;
	-o-border-radius:		4px 4px 0 0;
	border-left-width:1px;
}
table.details td.text-field {height:auto;}
table.details td.text-field div.spacer {
	height:40px;
	width:0px;
	float:left;
}
table.details input, table,.details textarea {margin:0;}

table.details.hint {color:#999;margin:0;padding:0;}
table.details.note {font-style:italic;}
table.detailsspan.required {color:red;}
table.detailsdiv.error label,table.detailslabel.error,table.detailsspan.error {color: #C00;}
table.detailsdiv.error input,table.detailsdiv.error textarea,table.detailsdiv.error select,table.detailsinput.error,table.detailstextarea.error,table.detailsselect.error {
	background: #FEE;
	border-color: #C00;
}
table.detailsdiv.success input,table.detailsdiv.success textarea,table.detailsdiv.success select,table.detailsinput.success,table.detailstextarea.success,table.detailsselect.success {
	background: #E6EFC2;
	border-color: #C6D880;
}
table.details.errorSummary {
	background: #FEE;
	border: 2px solid #C00;
	font-size: 0.9em;
	padding: 7px 7px 12px 7px;
}

