/*********************************************************************************
 * Copyright (C) 2011-2013 X2Engine Inc. All Rights Reserved.
 *
 * X2Engine Inc.
 * P.O. Box 66752
 * Scotts Valley, California 95067 USA
 *
 * Company website: http: //www.x2engine.com
 * Community and support website: http: //www.x2community.com
 *
 * X2Engine Inc. grants you a perpetual, non-exclusive, non-transferable license
 * to install and use this Software for your internal business purposes.
 * You shall not modify, distribute, license or sublicense the Software.
 * Title, ownership, and all intellectual property rights in the Software belong
 * exclusively to X2Engine.
 *
 * THIS SOFTWARE IS PROVIDED "AS IS" AND WITHOUT WARRANTIES OF ANY KIND, EITHER
 * EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION THE IMPLIED WARRANTIES OF
 * MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, AND NON-INFRINGEMENT.
 ********************************************************************************/

#x2widget_GalleryWidget .photo.selected {
	background-color: #E0F5FF;
}

#x2widget_GalleryWidget .fileinput-button,
#x2widget_GalleryWidget .btn-group .btn {
    padding: 0 6px 0 6px !important;
    margin: 0 0 0 0;
}

#x2widget_GalleryWidget .fileinput-button,
#x2widget_GalleryWidget .modal-footer .btn {
	border: 1px solid #888;
	border-bottom-color: #555;

	font-size: 9pt;
	line-height: 24px;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	-webkit-appearance: none;
	-moz-box-shadow: 	inset 0 1px 0 0 #fff;
	-webkit-box-shadow: 	inset 0 1px 0 0 #fff;
	box-shadow: 			inset 0 1px 0 0 #fff;
	border-radius: 			3px;
	-moz-border-radius: 		3px;
	-webkit-border-radius: 	3px;
	-o-border-radius: 		3px;
}

/*
red button
*/

#x2widget_GalleryWidget .btn-danger {
	background-color: #9E0000;
	background: -webkit-gradient(linear, left top, left bottom, from(#CC0000), to(#9E0000));
	background: -moz-linear-gradient(top,  #CC0000,  #9E0000);
	background: -o-linear-gradient(top,		#CC0000, #9E0000);
	background: -ms-linear-gradient(top,		#CC0000, #9E0000);

	border-color: #520000 !important;

	-moz-box-shadow: 	inset 0 1px 0 0 rgba(255,255,255,0.5);
	-webkit-box-shadow: 	inset 0 1px 0 0 rgba(255,255,255,0.5);
	box-shadow: 			inset 0 1px 0 0 rgba(255,255,255,0.5);
	text-shadow: rgba(0,0,0,0.5) 0 1px 3px;
	color: #fff;
}
#x2widget_GalleryWidget .btn-danger:hover {
	background-color: #C20000;
	background: -webkit-gradient(linear, left top, left bottom, from(#D60000), to(#C20000));
	background: -moz-linear-gradient(top,  #D60000,  #C20000);
	background: -o-linear-gradient(top,		#D60000, #C20000);
	background: -ms-linear-gradient(top,		#D60000, #C20000);
}
#x2widget_GalleryWidget .btn-danger:active {
	background-color: #9C0000;
	background: -webkit-gradient(linear, left top, left bottom, from(#910000), to(#9C0000));
	background: -moz-linear-gradient(top,  #910000,  #9C0000);
	background: -o-linear-gradient(top,		#910000, #9C0000);
	background: -ms-linear-gradient(top,		#910000, #9C0000);
}

/*
blue button
*/

#x2widget_GalleryWidget .btn-primary {
	background-color: #00659C;
	background: -webkit-gradient(linear, left top, left bottom, from(#0082C9), to(#00659C));
	background: -moz-linear-gradient(top,  #0082C9,  #00659C);
	background: -o-linear-gradient(top,		#0082C9, #00659C);
	background: -ms-linear-gradient(top,		#0082C9, #00659C);

	border-color: #520000 !important;

	-moz-box-shadow: 	inset 0 1px 0 0 rgba(255,255,255,0.5);
	-webkit-box-shadow: 	inset 0 1px 0 0 rgba(255,255,255,0.5);
	box-shadow: 			inset 0 1px 0 0 rgba(255,255,255,0.5);
	text-shadow: rgba(0,0,0,0.5) 0 1px 3px;
	color: #fff;
}
#x2widget_GalleryWidget .btn-primary:hover {
	background-color: #008EDB;
	background: -webkit-gradient(linear, left top, left bottom, from(#00A5FF), to(#008EDB));
	background: -moz-linear-gradient(top,  #00A5FF,  #008EDB);
	background: -o-linear-gradient(top,		#00A5FF, #008EDB);
	background: -ms-linear-gradient(top,		#00A5FF, #008EDB);
}
#x2widget_GalleryWidget .btn-primary:active {
	background-color: #0082C9;
	background: -webkit-gradient(linear, left top, left bottom, from(#00659C), to(#0082C9));
	background: -moz-linear-gradient(top,  #00659C,  #0082C9);
	background: -o-linear-gradient(top,		#00659C, #0082C9);
	background: -ms-linear-gradient(top,		#00659C, #0082C9);
}


#x2widget_GalleryWidget .icon-plus {
	margin-top: -1px;
}


/*
button group
*/

#x2widget_GalleryWidget .btn-group {
	margin-top: 3px;
}

#x2widget_GalleryWidget .btn-group .btn {
	border: 1px solid #888;
	border-bottom-color: #555;
	font-size: 9pt;
	line-height: 24px;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	-webkit-appearance: none;
	-moz-box-shadow: 	inset 0 1px 0 0 #fff;
	-webkit-box-shadow: 	inset 0 1px 0 0 #fff;
	box-shadow: 			inset 0 1px 0 0 #fff;
}

#x2widget_GalleryWidget .btn-group .btn {
	vertical-align: middle !important;
	margin: -3px 0 0 0 !important;
	border-right-width: 0 !important;
	border-radius: 			0 !important;
	-moz-border-radius: 		0 !important;
	-webkit-border-radius: 	0 !important;
	-o-border-radius: 		0 !important;
}

#x2widget_GalleryWidget .btn-group .btn:only-child {
	border-right-width: 1px !important;
	border-radius: 			3px !important;
	-moz-border-radius: 		3px !important;
	-webkit-border-radius: 	3px !important;
	-o-border-radius: 		3px !important;
}
#x2widget_GalleryWidget .btn-group .btn:first-child {
	border-radius: 			3px 0 0 3px !important;
	-moz-border-radius: 		3px 0 0 3px !important;
	-webkit-border-radius: 	3px 0 0 3px !important;
	-o-border-radius: 		3px 0 0 3px !important;
}
#x2widget_GalleryWidget .btn-group .remove_selected {
	border-right-width: 1px !important;
	border-radius: 			0 3px 3px 0 !important;
	-moz-border-radius: 		0 3px 3px 0 !important;
	-webkit-border-radius: 	0 3px 3px 0 !important;
	-o-border-radius: 		0 3px 3px 0 !important;
}
#x2widget_GalleryWidget .btn-group .btn:hover {
	color: #000;
	background: #f0f0f0;
	background: -moz-linear-gradient(top,	#ffffff 0%, #eeeeee 100%);
	background: -webkit-linear-gradient(top,	#ffffff 0%, #eeeeee 100%);
	background: -o-linear-gradient(top,		#ffffff 0%, #eeeeee 100%);
	background: -ms-linear-gradient(top,		#ffffff 0%, #eeeeee 100%);
	background: linear-gradient(to bottom,	#ffffff 0%, #eeeeee 100%);
}
#x2widget_GalleryWidget .btn-group .btn:active {
	color: black;
	border-color: #666;
	background: #aaa;
	background: -moz-linear-gradient(top,	#c0c0c0 0%, #dddddd 100%);
	background: -webkit-linear-gradient(top,	#c0c0c0 0%, #dddddd 100%);
	background: -o-linear-gradient(top,		#c0c0c0 0%, #dddddd 100%);
	background: -ms-linear-gradient(top,		#c0c0c0 0%, #dddddd 100%);
	background: linear-gradient(to bottom,	#c0c0c0 0%, #dddddd 100%);

	-moz-box-shadow: 	inset 0 1px 1px 0 #999;
	-webkit-box-shadow: 	inset 0 1px 1px 0 #999;
	box-shadow: 			inset 0 1px 1px 0 #999;
}



/*
green buttons
*/


#x2widget_GalleryWidget .fileinput-button,
#x2widget_GalleryWidget .modal-footer .btn.save-changes {
	background-color: #579100;
	background: -webkit-gradient(linear, left top, left bottom, from(#729C00), to(#579100));
	background: -moz-linear-gradient(top,  #729C00,  #579100);
	background: -o-linear-gradient(top,		#729C00, #579100);
	background: -ms-linear-gradient(top,		#729C00, #579100);
	border-color: #315200;

	-moz-box-shadow: 	inset 0 1px 0 0 rgba(255,255,255,0.25);
	-webkit-box-shadow: 	inset 0 1px 0 0 rgba(255,255,255,0.25);
	box-shadow: 			inset 0 1px 0 0 rgba(255,255,255,0.25);
	text-shadow: rgba(0,0,0,0.5) 0 1px 3px;
	color: #fff;
}

#x2widget_GalleryWidget .fileinput-button:hover,
#x2widget_GalleryWidget .modal-footer .btn.save-changes:hover {

	background-color: #87b800;
	background: -webkit-gradient(linear, left top, left bottom, from(#87b800), to(#6aad00));
	background: -moz-linear-gradient(top,  #87b800,  #6aad00);
	border-color: #416d00;

}

#x2widget_GalleryWidget .fileinput-button:active,
#x2widget_GalleryWidget .modal-footer .btn.save-changes:active {
	border-color: #666;
	background: #aaa;
	background: -moz-linear-gradient(top,	#579100 0%, #729C00 100%) !important;
	background: -webkit-linear-gradient(top,	#579100 0%, #729C00 100%) !important;
	background: -o-linear-gradient(top,		#579100 0%, #729C00 100%) !important;
	background: -ms-linear-gradient(top,		#579100 0%, #729C00 100%) !important;
	background: linear-gradient(to bottom,	#579100 0%, #729C00 100%) !important;

	-moz-box-shadow: 	inset 0 1px 1px 0 #538400;
	-webkit-box-shadow: 	inset 0 1px 1px 0 #538400;
	box-shadow: 			inset 0 1px 1px 0 #538400;

}

.gallery-widget.input-xlarge {
	margin-bottom: 10px;
}

.gallery-widget-image {
	margin: auto;
	position: absolute;
	overflow: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.gallery-widget-dialog {
	position: fixed !important;
	padding: 0 0 0 0 !important;
}


