/*********************************************************************************
 * Copyright (C) 2011-2013 X2Engine Inc. All Rights Reserved.
 * 
 * X2Engine Inc.
 * P.O. Box 66752
 * Scotts Valley, California 95067 USA
 * 
 * Company website: http://www.x2engine.com 
 * Community and support website: http://www.x2community.com 
 * 
 * X2Engine Inc. grants you a perpetual, non-exclusive, non-transferable license 
 * to install and use this Software for your internal business purposes.  
 * You shall not modify, distribute, license or sublicense the Software.
 * Title, ownership, and all intellectual property rights in the Software belong 
 * exclusively to X2Engine.
 * 
 * THIS SOFTWARE IS PROVIDED "AS IS" AND WITHOUT WARRANTIES OF ANY KIND, EITHER 
 * EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION THE IMPLIED WARRANTIES OF 
 * MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, AND NON-INFRINGEMENT.
 ********************************************************************************/

body {
	background:#fff;
	/* 	background:url(../../../uploads/santacruznight_blur.jpg) center top no-repeat;
		background-attachment:fixed;
		background-size:cover; */
}
h2 {clear:left; }
h2#title {clear:none;}

#installer-box {
	width:600px;
	/* background:url(../images/installer_stripes.png) left center no-repeat #87a155; */
/*     background-color:#87a155;
	background-color:rgba(255,255,255,0.25); */
	min-height:0;
	margin:25px auto 25px auto;
	padding:20px 40px 0 40px;
	position:relative;
	background:#eaeaea;
	color:black;
	/* border:1px solid rgba(0,0,0,0.25); */
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	-o-border-radius:6px;
	-moz-box-shadow:	0 3px 10px rgba(0,0,0,0.5);
	-webkit-box-shadow:	0 3px 10px rgba(0,0,0,0.5);
	box-shadow:			0 3px 10px rgba(0,0,0,0.5);
}
#installer-logo {
	display:block;
	margin:0 10px 10px 0;
	float:left;
}
#installer-box h1, #installer-box h3 {
	text-align:center;
}
#install-form, #db-test-box #response-box, #error-box, #status-box {
	border:none;
	overflow:hidden;
	/* background:#cbd9af;
	background:rgba(255,255,255,0.25); */
	background:#f8f8f8;
	border: 1px solid #DDD;
	-moz-border-radius:		4px;
	-o-border-radius:		4px;
	-webkit-border-radius:	4px;
	border-radius:			4px;
	/* -moz-box-shadow:	inset 0 1px 2px rgba(0,0,0,0.6);
	-webkit-box-shadow:	inset 0 1px 2px rgba(0,0,0,0.6);
	box-shadow:			inset 0 1px 2px rgba(0,0,0,0.6); */

}
#install-form, #error-box {
	/* background:#a6ba80;
	background:rgba(255,255,255,0.25); */
	background:#f8f8f8;
	margin-top:10px;
	
}
#install-form.wide.form label {
	display:inline;
	float:left;
	margin-right:10px;
	position:relative;
	text-align:right;
	width:160px;
}
#install-form  #button {
	display:block;
	width:125px;
	margin:10px 0 5px 170px;
}
#install-form #lang {width:120px;}

#db-test-box {
	float:left;
	margin-right:10px;
	width: 200px;
}
#db-test-box #response-box {
	margin-top:5px;
	padding:5px;
	width:200px;
	height:100px;
}
#response-box img {
	margin:0 5px 0 0;
	vertical-align:middle;
}
#db-form-box {
	width:350px;
	float:left;
}
#db-test-button {
	/* float:right; */
	/* clear:none; */
}
#error-box,#noscript-error {
	margin-top:5px;
	font-weight:bold;
	color:#990000;
}

#footer {
	padding:0 0 10px 0;
	color:black;
	text-align:center;
	font-size:10px;
}

#status-box {
	display: none;
}

#install-button {
	display:block;
	/*    margin-left:170px;*/
	margin-left: auto;
	margin-right: auto;
	padding: 15px 40px;
}

div#menu_items > div.checkbox-grid-cell {
	display: inline-block;
}
div#menu_items > div.checkbox-grid-cell > label {
	width: 100px !important;
}