/*********************************************************************************
 * Copyright (C) 2011-2013 X2Engine Inc. All Rights Reserved.
 *
 * X2Engine Inc.
 * P.O. Box 66752
 * Scotts Valley, California 95067 USA
 *
 * Company website: http://www.x2engine.com
 * Community and support website: http://www.x2community.com
 *
 * X2Engine Inc. grants you a perpetual, non-exclusive, non-transferable license
 * to install and use this Software for your internal business purposes.
 * You shall not modify, distribute, license or sublicense the Software.
 * Title, ownership, and all intellectual property rights in the Software belong
 * exclusively to X2Engine.
 *
 * THIS SOFTWARE IS PROVIDED "AS IS" AND WITHOUT WARRANTIES OF ANY KIND, EITHER
 * EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION THE IMPLIED WARRANTIES OF
 * MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, AND NON-INFRINGEMENT.
 ********************************************************************************/

.x2-layout {
	border: 1px solid black !important;
	/*border: none !important;
	background: #ffffff !important;*/
	/*border-left: 1px solid black !important;
	border-right: 1px solid black !important;
	border-bottom: 1px solid black !important;*/
	-moz-border-radius:		0px 0px 0px 0px !important;
	-o-border-radius:		0px 0px 0px 0px !important;
	-webkit-border-radius:	0px 0px 0px 0px !important;
	border-radius:			0px 0px 0px 0px !important;
	max-width: 900px !important;
}

.x2-layout .formInputBox {
	/*min-width: 100px !important;
	width: auto !important;*/
}

.x2-layout a {
	color: black !important;
}

.x2-layout .showSection {
	/*-moz-border-radius:		0px 0px 0px 0px !important;
	-o-border-radius:		0px 0px 0px 0px !important;
	-webkit-border-radius:	0px 0px 0px 0px !important;
	border-radius:			0px 0px 0px 0px !important;*/
}

.x2-layout table {
	border-spacing: 0 !important;
	width: 100% !important;
	max-width: 900px !important;
	
}

/*.x2-layout table {
	border-top: 1px solid black !important;
}*/

.x2-layout div.tableWrapper {
	border-top: none !important;

	/*border-top: 1px solid black !important;
	border-left: none !important;*/
	/*border-left: 1px solid black !important;
	border-right: 1px solid black !important;*/
}

.x2-layout div.formSectionHeader {
	/*border: none !important;*/
	/*border-bottom: 1px solid black !important;*/
	/*border-top: 1px solid black !important;

	-moz-border-radius:		0px 0px 0px 0px !important;
	-o-border-radius:		0px 0px 0px 0px !important;
	-webkit-border-radius:	0px 0px 0px 0px !important;
	border-radius:			0px 0px 0px 0px !important;*/
}

.x2-layout .formItem {
	/*border-top: none !important;
	border-left: none !important;
	border-bottom: none !important;
	border-right: 1px solid black !important;*/
	/*border: none !important;*/
	/*border: 1px solid black !important;*/
}

.x2-layout div.formItem.topLabel {
	/*border-top: none !important;
	border-left: 1px solid black !important;
	border-right: 1px solid black !important;*/
}

.x2-layout div.formItem.topLabel {
	border-bottom: none !important;
}

.x2-layout div.formItem.leftLabel {
	border-bottom: none !important;

	/*border-top: none !important;
	border-left: 1px solid black !important;
	border-right: 1px solid black !important;
	border-bottom: 1px solid black !important;*/
}

.x2-layout .formItem.topLabel label {
	/*border-top: 1px solid black !important;
	border-bottom: 1px solid black !important;*/
}

.x2-layout .formItem.leftLabel label {
	/*border-right: 1px solid black !important;*/
}

.x2-layout .formItem.leftLabel {
	/*border-left: none !important;*/
}

.x2-layout label {
	/*border-left: 1px solid black !important;*/
	/*border-right: 1px solid black !important;*/
	color: #000000 !important;
	background: none !important;
}

.x2-layout div {
	/*border-bottom: 1px solid black !important;*/
}

.x2-layout td div.leftLabel:last-child {
	border-bottom: 1px solid black !important;
	/*width: auto !important;*/
	/*border-right: 1px solid black !important;*/
}

/*.x2-layout table {
	border-collapse: collapse !important; 
	width: 100% !important;
	display: inline !important;
}

.x2-layout th {
	padding: 5px !important; 
	border: 1px solid black !important; 
	background:#eee !important;
}

.x2-layout th {
	padding: 5px !important; 
	border: 1px solid black !important; 
	background:#eee !important;
}*/

/*div.x2-layout a.formSectionHide,
div.x2-layout a.formSectionShow {*/

/* hide min and max buttons */
div.x2-layout .formSection.showSection a.formSectionShow,
div.x2-layout .formSection.showSection a.formSectionHide {
	display: none !important;
}




/*
Override rules in x2forms.css. Remove rounded borders, make borders black and 
backgrounds white.
*/

div.x2-layout {
	background:#fff !important;
}
div.x2-layout .formSection:first-child {
	-moz-border-radius:		0px 0 0 0 !important;
	-o-border-radius:		0px 0 0 0 !important;
	-webkit-border-radius:	0px 0 0 0 !important;
	border-radius:			0px 0 0 0 !important;
}
div.x2-layout .formSection:last-child {
	-moz-border-radius:		0px 0 0 0 !important;
	-o-border-radius:		0px 0 0 0 !important;
	-webkit-border-radius:	0px 0 0 0 !important;
	border-radius:			0px 0 0 0 !important;
}
div.x2-layout .formSectionHeader {
	border-top: 1px solid #000;
	-moz-border-radius:		0px 0 0 0 !important;
	-o-border-radius:		0px 0 0 0 !important;
	-webkit-border-radius:	0px 0 0 0 !important;
	border-radius:			0px 0 0 0 !important;
}
div.x2-layout td {
	border-right:1px solid #000 !important;
}
div.x2-layout .formItem {
	border:1px solid #000 !important;
}
div.x2-layout .formItem.topLabel label {
	border-bottom:1px solid #000 !important;
}
div.x2-layout .formItem.leftLabel label {
	border-right:1px solid #000 !important;
}
div.x2-layout .formItem input[type="text"], 
div.x2-layout .formItem textarea, 
input[type="text"].relationships-add-autocomplete {
	-moz-border-radius:		0px 0 0 0 !important;
	-o-border-radius:		0px 0 0 0 !important;
	-webkit-border-radius:	0px 0 0 0 !important;
	border-radius:			0px 0 0 0 !important;
	background:#fff !important;
}




