/*********************************************************************************
 * Copyright (C) 2011-2013 X2Engine Inc. All Rights Reserved.
 * 
 * X2Engine Inc.
 * P.O. Box 66752
 * Scotts Valley, California 95067 USA
 * 
 * Company website: http://www.x2engine.com 
 * Community and support website: http://www.x2community.com 
 * 
 * X2Engine Inc. grants you a perpetual, non-exclusive, non-transferable license 
 * to install and use this Software for your internal business purposes.  
 * You shall not modify, distribute, license or sublicense the Software.
 * Title, ownership, and all intellectual property rights in the Software belong 
 * exclusively to X2Engine.
 * 
 * THIS SOFTWARE IS PROVIDED "AS IS" AND WITHOUT WARRANTIES OF ANY KIND, EITHER 
 * EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION THE IMPLIED WARRANTIES OF 
 * MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, AND NON-INFRINGEMENT.
 ********************************************************************************/

#twitter_container {
	padding-bottom:10px;
}
#twitter_update_list {
	height:200px;
	padding:5px;
	overflow:scroll-y;
	background:white;	
}

#twitter_update_list li {
	list-style: none;
	padding:0 0 5px 0;
	border-bottom: dotted 1px #aaa;
}
#twitter_update_list li:last-child {
	border-bottom:none;
}

#twitter_update_list li a {
	color: #06c;
	text-decoration: none;
}

#twitter_update_list li a:hover {
	color: #09f;
}