/*********************************************************************************
 * Copyright (C) 2011-2013 X2Engine Inc. All Rights Reserved.
 *
 * X2Engine Inc.
 * P.O. Box 66752
 * Scotts Valley, California 95067 USA
 *
 * Company website: http://www.x2engine.com
 * Community and support website: http://www.x2community.com
 *
 * X2Engine Inc. grants you a perpetual, non-exclusive, non-transferable license
 * to install and use this Software for your internal business purposes.
 * You shall not modify, distribute, license or sublicense the Software.
 * Title, ownership, and all intellectual property rights in the Software belong
 * exclusively to X2Engine.
 *
 * THIS SOFTWARE IS PROVIDED "AS IS" AND WITHOUT WARRANTIES OF ANY KIND, EITHER
 * EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION THE IMPLIED WARRANTIES OF
 * MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, AND NON-INFRINGEMENT.
 ********************************************************************************/


/*
override attachments widget style
*/

#attachment-form .focus-mini-module {
    box-shadow: none;
}

#attachment-form .form {
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 0;
}



/* 
override spectrum color picker css 
*/
.sp-replacer {
    padding: 0px !important;
    margin-left: 4px !important;
    position: relative;
    top: -2px;
}

.sp-dd {
    height: 13px !important;
}

.sp-preview
{
    width:20px !important;
    height: 17px !important;
    margin-right: 5px !important;
}


/*
Broadcast Dialog
*/

#broadcast-dialog-user-select {
    width: 460px;
    height: 200px;
}

.dialog-explanation {
    margin-bottom: 8px;
    margin-top: 7px;
}

#broadcast-dialog label {
    margin-bottom: 4px;
}

#broadcast-dialog .sp-replacer {
    margin-top: 6px;
}


/*
ckeditor
*/

#cke_Events_text {
    margin-bottom: 6px !important;
}

/* collapse bottom bar */
.cke_bottom {
    background: none !important;
    border-top: none !important;
    display: inline !important;
    height: 0px !important;
    width: 0px !important;
    padding: 0 0 0 0 !important;
    margin: 0 0 0 0 !important;
}

/* move resizing handle */
.cke_resizer_ltr { 
    margin-right: 2px !important;
}



/*
Charts
*/

#activity-feed-chart-container {
	background: #eee;
}

div.chart-container {
	border-top: 1px solid #ddd !important;
	-moz-border-radius: 0px !important;
	-o-border-radius: 0px !important;
	-webkit-border-radius: 0px !important;
	border-radius: 0px !important;
}

#chart-type-selector {
	margin: 4px 0px 4px 5px;
}

#page-title-container.page-title-container-chart-shown {
	background: #eee !important;
}



/*
Miscellaneous
*/




.avatar-image {
    /*border: 3px solid #f8f8f8;*/
	border: 1px;
    -webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
}
G
.social-tabs a{
    text-decoration:none;
}

.comment-textbox{
    -webkit-appearance: none;
    height: 22px;
    width: 100% !important;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #AAA;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: white;
}

.comment-box .items{
    margin-left:15px;
}

.important{
    background-color:#FFFFC2;
}

.pager{
    visibility:hidden;
}

.yiiPager{
    display:none;
}

.activity-feed div.like-history-box{
    padding-top: 6px;
}

#activity-feed.list-view .view.top-level.activity-feed {padding:5px;overflow:auto;}

div#filter-controls div.portlet-content {
    text-align: center;
}

div#full-controls-button-container {
    text-align: center;

}

a#toggle-filters-link {
    margin-top: -8px;
    margin-bottom: 4px;
}

/* make sticky feed posts broadcast bg color take fill entire space */
#sticky-feed .top-level.activity-feed {
    overflow: auto;
}

.items {
    -moz-border-radius: 0px !important;
    -o-border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    border-radius: 0px !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}

/* Used to prevent issue with jquery expandable plugin. Allows expandable text
to float around the truncated text. */
.expandable-details-override {
	display: inline !important;
}


.event-bottom-buttons {
    margin-top: 2px;
}
