/*********************************************************************************
 * Copyright (C) 2011-2013 X2Engine Inc. All Rights Reserved.
 *
 * X2Engine Inc.
 * P.O. Box 66752
 * Scotts Valley, California 95067 USA
 *
 * Company website: http: //www.x2engine.com
 * Community and support website: http: //www.x2community.com
 *
 * X2Engine Inc. grants you a perpetual, non-exclusive, non-transferable license
 * to install and use this Software for your internal business purposes.
 * You shall not modify, distribute, license or sublicense the Software.
 * Title, ownership, and all intellectual property rights in the Software belong
 * exclusively to X2Engine.
 *
 * THIS SOFTWARE IS PROVIDED "AS IS" AND WITHOUT WARRANTIES OF ANY KIND, EITHER
 * EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION THE IMPLIED WARRANTIES OF
 * MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, AND NON-INFRINGEMENT.
 ********************************************************************************/


.chart-container {
	border: none !important;
	padding-bottom: 0px !important;
    padding-left: 6px !important;
    padding-right: 6px !important;
	overflow: hidden !important;
}

.chart-container .chart {
    width: 98%;
    height: 200px;
    text-align: center;
    margin: 0 auto;
}

/* Pie chart data labels */
.jqplot-pie-series.jqplot-data-label {
	color: #ffffff;
}


/*
Pie chart overrides
*/

.chart-container .chart.pie {
    height: 235px !important;
	/*margin-top: 28px;*/
}

.chart-container .chart-legend.pie {
	margin-top: -15px;
	/*position: relative;
	top: 5px;*/
}

.chart-container .bin-size-button-set.pie {
	display: none;
}

.chart-container .datepicker-row.pie {
	/*float: right;
	clear: none;*/
}

.chart-container .datepicker-row.action-history-pie {
	/*float: right;
	clear: none;
	position: relative;
	z-index: 100;*/
}

.chart-container .rel-chart-data-checkbox-container.pie {
	/*clear: both;*/
}

.chart-container .top-button-row.pie {
	/*float: left;
	clear: none;*/
	display: none;
}

.chart-container .top-button-row.feed-pie {
	/*float: left;
	clear: none;*/
}

.chart-container .create-setting-button.pie {
	/*clear: both;
	position: relative;
	z-index: 100;*/
}

.chart-container .ui-multiselect.pie {
	display: none;
}

.chart-container .predefined-settings.pie {
	position: relative;
	z-index: 100;
}


/*
Related records' data option
*/

.chart-container .rel-chart-data-checkbox-container {
	margin-top: 4px;
	height: 20px;
}

.chart-container .rel-chart-data-checkbox-container > input {
	margin: 0 0 0 3px;
}

.chart-container .rel-chart-data-checkbox-container > label {
	margin: 0 0 0 0;
}



/*
Chart setting dialog
*/

.chart-setting-name-input-container {
    margin-top: 9px !important;
    margin-bottom: 0px !important;
}

.create-chart-setting-dialog input {
    margin-top: 0px !important;
}

.chart-setting-name {
    width: 170px !important;
    margin-left: 4px !important;
    margin-bottom: 4px !important;
}



/*
Chart legend
*/

.chart-legend {
	padding-top: 7px;
	padding-left: 15px;
	table-layout: fixed;
	width: 80%;
	border-spacing: 4px;
}

.chart-legend .chart-color-label {
	font-size: 12px;
	color: .404040;
}

.chart-legend .chart-color-swatch {
	width: 10px;
	height: 10px;
	margin-right: 4px;
	float: left;
	-moz-border-radius: 1px;
	-o-border-radius: 1px;
	-webkit-border-radius: 1px;
	border-radius: 1px;
	margin-top: 2px;
}



/*
data point tooltip
*/

.chart-tooltip {
	padding: 4px;
	min-width: 100px;
	background: white;
	border: 1px solid #ccc;
}

.chart-tooltip .chart-tooltip-date {
	font-weight: bold;
	color: .424242;
}



/*
Chart settings
*/

.chart-container .delete-setting-button {
    margin-top: 6px;
    margin-left: -2px;
    margin-right: 11px;
}

.chart-container .create-setting-button {
    margin-top: 2px;
}


.chart-container .predefined-settings {
    margin-top: 4px;
    margin-right: 4px;
}




/*
bin size selection buttons
*/

.chart-container .bin-size-button-set {
    margin-top: 1px;
}

.chart-container a {
    text-decoration: none;
}

.chart-container button.selected {
    border: 1px solid black;
}

.chart-container a.x2-button {
    margin: 0px -4px 0 0;
}



/*
date pickers
*/

.chart-container .datepicker-row {
    margin-top: -0px;
}

.chart-container .datepicker-row button {
    margin-right: 0;
}



/*
advanced settings
*/

.chart-container .chart-filters-container {
	height: 30px;
	display: block;
}

.chart-container .chart-filters-container button.ui-multiselect {
	margin-right: 5px;
	margin-bottom: 2px;
}

.chart-container button.show-chart-filters-button {
	margin: 1px 0 0 5px;
}

.chart-container button.hide-chart-filters-button {
	margin: 1px 0 0 5px;
}






.chart-container button.ui-multiselect {
	float: left;
	margin-top: 2px;
}


.chart-container button.x2-small-button {
	font-size: 80%;
}

.chart-container .datepicker-row,
.chart-container .top-button-row {
	/*position: relative;
	z-index: 100;*/
}

.chart-container .chart-datepicker-to,
.chart-container .chart-datepicker-from {
	width: 100px;
}

.pie-chart-count-container {
	display: inline;
	margin-left: 67%;
	bottom: 50px;
	background: #E6E6E6;
	padding: 3px 4px;
	position: relative;
}

/* ie8 fixes */
.chart.jqplot-target {

}



