/*********************************************************************************
 * Copyright (C) 2011-2013 X2Engine Inc. All Rights Reserved.
 *
 * X2Engine Inc.
 * P.O. Box 66752
 * Scotts Valley, California 95067 USA
 *
 * Company website: http: //www.x2engine.com
 * Community and support website: http: //www.x2community.com
 *
 * X2Engine Inc. grants you a perpetual, non-exclusive, non-transferable license
 * to install and use this Software for your internal business purposes.
 * You shall not modify, distribute, license or sublicense the Software.
 * Title, ownership, and all intellectual property rights in the Software belong
 * exclusively to X2Engine.
 *
 * THIS SOFTWARE IS PROVIDED "AS IS" AND WITHOUT WARRANTIES OF ANY KIND, EITHER
 * EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION THE IMPLIED WARRANTIES OF
 * MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, AND NON-INFRINGEMENT.
 ********************************************************************************/

#widget_MediaBox .media-item a, 
#x2-tag-list .tag a {
	text-decoration: none;
	color: black;
}

#widget_MediaBox .media-item, 
#x2-tag-list .tag {
	-moz-border-radius: 		4px;
	-o-border-radius: 		4px;
	-webkit-border-radius: 	4px;
	border-radius: 			4px;
	border-style: solid;
	border-width: 1px;
	border-color: gray;
	margin: 2px 2px;
	display: inline-block;
	padding: 2px;
	background-color: #f0f0f0;
}

/* tags dragged from tag cloud */
.x2-tag.x2-link.ui-draggable-dragging {
    z-index: 1500;
}

/* placeholder text */
#x2-tag-list .tag-container-placeholder {
    color: rgb(117,117,117);
}

