/*********************************************************************************
 * Copyright (C) 2011-2013 X2Engine Inc. All Rights Reserved.
 * 
 * X2Engine Inc.
 * P.O. Box 66752
 * Scotts Valley, California 95067 USA
 * 
 * Company website: http://www.x2engine.com 
 * Community and support website: http://www.x2community.com 
 * 
 * X2Engine Inc. grants you a perpetual, non-exclusive, non-transferable license 
 * to install and use this Software for your internal business purposes.  
 * You shall not modify, distribute, license or sublicense the Software.
 * Title, ownership, and all intellectual property rights in the Software belong 
 * exclusively to X2Engine.
 * 
 * THIS SOFTWARE IS PROVIDED "AS IS" AND WITHOUT WARRANTIES OF ANY KIND, EITHER 
 * EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION THE IMPLIED WARRANTIES OF 
 * MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, AND NON-INFRINGEMENT.
 ********************************************************************************/
 
.list-view-loading {background:url(loading.gif) no-repeat;}
.list-view .summary {margin:0 0 5px 0;text-align:right;}
.list-view .sorter {margin:0 0 5px 0;text-align:right;}
.list-view .pager {
	margin:5px 0 5px 0;text-align:right;
    border: 1px solid #ccc;
	padding:5px;
	background:#fff;
	margin:5px 0 0 0; 
	text-align:right;
	border-radius:			4px 4px 4px 4px;
	-moz-border-radius:		4px 4px 4px 4px;
	-webkit-border-radius:	4px 4px 4px 4px;
	-o-border-radius:		4px 4px 4px 4px;
}
.list-view .sorter {font-size:0.9em;}
.list-view .sorter ul {
	display:inline;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	padding:0;
}
.list-view .sorter li {
	display:inline;
	margin:0 0 0 5px;
	padding:0;
}
.list-view .sorter a.asc {
	background:url(up.gif) right center no-repeat;
	padding-right:10px;
}
.list-view .sorter a.desc {
	background:url(down.gif) right center no-repeat;
	padding-right:10px;
}