/*********************************************************************************
 * Copyright (C) 2011-2013 X2Engine Inc. All Rights Reserved.
 * 
 * X2Engine Inc.
 * P.O. Box 66752
 * Scotts Valley, California 95067 USA
 * 
 * Company website: http://www.x2engine.com 
 * Community and support website: http://www.x2community.com 
 * 
 * X2Engine Inc. grants you a perpetual, non-exclusive, non-transferable license 
 * to install and use this Software for your internal business purposes.  
 * You shall not modify, distribute, license or sublicense the Software.
 * Title, ownership, and all intellectual property rights in the Software belong 
 * exclusively to X2Engine.
 * 
 * THIS SOFTWARE IS PROVIDED "AS IS" AND WITHOUT WARRANTIES OF ANY KIND, EITHER 
 * EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION THE IMPLIED WARRANTIES OF 
 * MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, AND NON-INFRINGEMENT.
 ********************************************************************************/



.quote-table .first-cell
{
    display: none;
}

.quote-table input {
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align:middle;
    background: none;
    border: none;
    color: black;
}

.quote-table td {
    padding-right: 2px !important;
    padding-left: 2px !important;
}

/* line item name */
.quote-table > thead > tr > th.line-item-name, 
.quote-table > tbody#line-items > tr > td.x2-2nd-child
{
    overflow: hidden;
    text-overflow: ellipsis;
}

/* line item name cell */
.quote-table > tbody#line-items > tr > td.x2-2nd-child {
    width: 20%;
}


/* line item name */
.quote-table > thead > tr > th.line-item-name, 
.quote-table > tbody#line-items > tr > td.x2-2nd-child input
{
    width: 95%;
	font-size: 12px;
}

/* unit price cell */
.quote-table > tbody#line-items > tr > td.x2-3rd-child {
    width: 17.5%;
}

/* unit price */
.quote-table > tbody#line-items > tr > td.x2-3rd-child input {
    width: 95%;
	text-align: right;
	font-size: 12px;
}

/* quantity cell */
.quote-table > tbody#line-items > tr > td.x2-4th-child {
    width: 15%;
}

/* quantity */
.quote-table > tbody#line-items > tr > td.x2-4th-child input {
    width: 95%;
	text-align: right;
	font-size: 12px;
}

/* adjustment name cell */
.quote-table > tbody#adjustments> tr > td.x2-4th-child {
    width: 15%;
}

/* adjustment name */
.quote-table > tbody#adjustments> tr > td.x2-4th-child input {
    width: 95%;
	text-align: left;
	font-size: 12px;
}

/* adjustments cell */
.quote-table > tbody#line-items > tr > td.x2-5th-child,
.quote-table > tbody#adjustments > tr > td.x2-5th-child {
    width: 15%;
}

/* adjustments */
.quote-table > tbody#line-items > tr > td.x2-5th-child input,
.quote-table > tbody#adjustments > tr > td.x2-5th-child input {
    width: 95%;
	font-size: 12px;
	text-align: right;
}

/* description cell */
.quote-table > tbody#line-items > tr > td.x2-6th-child,
.quote-table > tbody#adjustments > tr > td.x2-6th-child {
    width: 15%;
}

/* description */
.quote-table > tbody#line-items > tr > td.x2-6th-child input,
.quote-table > tbody#adjustments > tr > td.x2-6th-child input {
    width: 95%;
	font-size: 12px;
}

/* line total cell */
.quote-table > tbody#line-items > tr > td.x2-7th-child,
.quote-table > tbody#adjustments > tr > td.x2-7th-child {
    width: 20%;
}

/* line total */
.quote-table > tbody#line-items > tr > td.x2-7th-child input,
.quote-table > tbody#adjustments > tr > td.x2-7th-child input {
	text-align: left;
    width: 95%;
	font-size: 12px;
}

/* subtotal and total cell */
.quote-table .subtotal-container,
.quote-table .total-container {
    width: 17.5%;
}

/* subtotal and total */
.quote-table input#subtotal,
.quote-table input#total {
    width: 95%;
	text-align: left;
	font-size: 12px;
}

