/*********************************************************************************
 * Copyright (C) 2011-2013 X2Engine Inc. All Rights Reserved.
 * 
 * X2Engine Inc.
 * P.O. Box 66752
 * Scotts Valley, California 95067 USA
 * 
 * Company website: http://www.x2engine.com 
 * Community and support website: http://www.x2community.com 
 * 
 * X2Engine Inc. grants you a perpetual, non-exclusive, non-transferable license 
 * to install and use this Software for your internal business purposes.  
 * You shall not modify, distribute, license or sublicense the Software.
 * Title, ownership, and all intellectual property rights in the Software belong 
 * exclusively to X2Engine.
 * 
 * THIS SOFTWARE IS PROVIDED "AS IS" AND WITHOUT WARRANTIES OF ANY KIND, EITHER 
 * EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION THE IMPLIED WARRANTIES OF 
 * MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, AND NON-INFRINGEMENT.
 ********************************************************************************/


/*
center cells in the quotes table
*/
.quote-table .input-cell
{
    text-align: center;
    vertical-align: middle;
}

.quote-table .text-field
{
    vertical-align: middle;
    padding: 0px 6px !important;
}


.quote-table 
{
	background-color: #EEEEEE;
}

.quote-table td
{
    border-bottom: 1px solid rgb(194,194,194);
    height: 2em;
}

.quote-table tbody:last-child,
.quote-table tbody .x2-last-child 
{
	border-bottom:none;	
}

.quote-table thead th {
	background-color: transparent
}

.quote-table input:disabled, .quote-table input[readonly]
{
    background: none;
    border: none;
    color: black;
    padding: 0px;
}
