/*********************************************************************************
 * Copyright (C) 2011-2013 X2Engine Inc. All Rights Reserved.
 * 
 * X2Engine Inc.
 * P.O. Box 66752
 * Scotts Valley, California 95067 USA
 * 
 * Company website: http://www.x2engine.com 
 * Community and support website: http://www.x2community.com 
 * 
 * X2Engine Inc. grants you a perpetual, non-exclusive, non-transferable license 
 * to install and use this Software for your internal business purposes.  
 * You shall not modify, distribute, license or sublicense the Software.
 * Title, ownership, and all intellectual property rights in the Software belong 
 * exclusively to X2Engine.
 * 
 * THIS SOFTWARE IS PROVIDED "AS IS" AND WITHOUT WARRANTIES OF ANY KIND, EITHER 
 * EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION THE IMPLIED WARRANTIES OF 
 * MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, AND NON-INFRINGEMENT.
 ********************************************************************************/

#quote-template-dropdown {
    margin-top: 5px;
}

.quote-table .input-cell {
    padding-right: 8px;
}

.quote-table input {
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align:middle;
    margin: 0 0 0 0;
}

::-moz-placeholder {
    text-overflow: ellipsis;
}

.quote-table .add-line-item-button
{
    float: left;
}

.add-line-item-button, .add-adjustment-button
{
    margin: 0 1em 0 1em;
    width: 12em;
}

.add-line-item-button.x2-button, .add-adjustment-button.x2-button {
	width: 150px;
	display: inline-block;
	clear:none;
}

#product-menu
{
    position: absolute;
    display: none;
    max-height: 16em;
    overflow-y: scroll;
	font-size: 10px;
}

.quote-table input.error
{
    /*border: 2px solid rgb(170,170,170);*/
    background: #FEE;
    border-color: #C00 !important;
    /*background: none repeat scroll 0% 0% rgb(255,238,238);*/
    /*border-color: rgb(204,0,0);*/
}

.quote-table .arrow-both-handle
{
    margin-left: 10px;
    width: 1em;
    height: 1em;
	display: inline-block;
}

.quote-table .item-delete-button 
{	
	display: inline-block;
}

.quote-table td 
{
	padding-right:5px;
	background-color: #FAFAFA;
}

.quote-table 
{
	width:100%;
	border-color: #CCCCCC;
	border-width: 1px;
	border-style: solid;
	-webkit-border-radius: 4px; 
	-moz-border-radius: 4px;   
	border-radius: 4px; 
}

.quote-table > thead:first-child > tr > th
{
	border-color: #CCCCCC;
	border-width: 0 0 1px 0;
	border-style: solid;
	text-align:left;
}

.quote-table td input.line-item-field
{
	border: 1px solid #aaa;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	padding:2px;
	box-sizing: border-box;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.quote-table > tbody#line-items > tr > td.x2-7th-child input,
.quote-table > tbody#adjustments > tr > td.x2-7th-child input, 
.quote-table input#total,
.quote-table input#subtotal {
    background: none;
    border: none;
    color: black;
    padding: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*
set width of input fields in the quotes table
*/
.line-item > .first-cell, .adjustment > .first-cell
{
    width: 10%;
    padding-right: 0;
}

/* line item name cell */
.quote-table > tbody#line-items > tr > td.x2-2nd-child {
	text-align: left;
    width: 22%;
    padding-right: 0;
}


/* line item name */
.quote-table > thead > tr > th.line-item-name, 
.quote-table > tbody#line-items > tr > td.x2-2nd-child input {
    margin: 0 0 0 0;
    width: 85%;
    float: left;
	font-size: 12px;
}

.quote-table .product-select-button
{
    height: 20px;
    width: 10%;
    max-width: 20px;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.quote-table .product-select-button img
{
    margin: 0 0 0 0;
    width: 10px;
    height: 10px;
}

/* unit price cell */
.quote-table > tbody#line-items > tr > td.x2-3rd-child {
	text-align: left;
    width: 16%;
}

/* unit price */
.quote-table > tbody#line-items > tr > td.x2-3rd-child input {
    width: 100%;
	text-align: right;
	font-size: 12px;
}

/* quantity cell */
.quote-table > tbody#line-items > tr > td.x2-4th-child,
.quote-table > tbody#adjustments> tr > td.x2-4th-child {
	text-align: left;
    width: 12%;
}

/* quantity */
.quote-table > tbody#line-items > tr > td.x2-4th-child input {
    width: 100%;
	text-align: right;
	font-size: 12px;
}

/* adjustment name */
.quote-table > tbody#adjustments> tr > td.x2-4th-child input {
    width: 100%;
	text-align: left;
	font-size: 12px;
}

/* adjustments cell */
.quote-table > tbody#line-items > tr > td.x2-5th-child,
.quote-table > tbody#adjustments > tr > td.x2-5th-child {
	text-align: left;
    width: 12%;
}

/* adjustments */
.quote-table > tbody#line-items > tr > td.x2-5th-child input,
.quote-table > tbody#adjustments > tr > td.x2-5th-child input {
    width: 100%;
	font-size: 12px;
	text-align: right;
}

/* description cell */
.quote-table > tbody#line-items > tr > td.x2-6th-child,
.quote-table > tbody#adjustments > tr > td.x2-6th-child {
	text-align: left;
    width: 12%;
}

/* description */
.quote-table > tbody#line-items > tr > td.x2-6th-child input,
.quote-table > tbody#adjustments > tr > td.x2-6th-child input {
    width: 100%;
	font-size: 12px;
}

/* line total cell */
.quote-table > tbody#line-items > tr > td.x2-7th-child,
.quote-table > tbody#adjustments > tr > td.x2-7th-child {
	text-align: left;
    width: 24%;
}

/* line total */
.quote-table > tbody#line-items > tr > td.x2-7th-child input,
.quote-table > tbody#adjustments > tr > td.x2-7th-child input {
    width: 100%;
	font-size: 12px;
}

/* subtotal and total cell */
.quote-table .subtotal-container,
.quote-table .total-container {
    width: 22%;
	text-align: left;
}

/* subtotal and total */
.quote-table input#subtotal,
.quote-table input#total {
    width: 100%;
	font-size: 12px;
}

.quotes-error-summary {
    background: #FEE;
    border: 2px solid #C00;
    font-size: 0.9em;
    padding: 5px;
    margin-bottom: 1px;
    margin-top: 5px;
}

.quotes-error-summary p {
    margin: 0;
    padding: 5px;
}

.quotes-error-summary ul {
    margin: 0;
    padding: 0 0 0 20px;
}

